$color-main: #127C3B;
$color-main-border: hsl(143, 74%, 22%);
$color-main-hover: #129B3B;
$color-gray: #F9F9F9;
$color-gray-border: #dedede;
$color-gray-hover: #F3F2F1;
$color-main-highlight: yellow;
$color-gridbox_title_corret: darkgreen;
$color-gridbox_title_wrong: darkblue;


