body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

ul {
    position: relative;
    display: inline-block;
    list-style: none;
    word-break: break-word;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

input[type=button] {
    padding:8px 10px 10px;
    margin-top:7px;
    border: 1px solid red;
    border-radius: 10px;
    background-color: yellowgreen;
}

input[type=button]:hover {
    background-color: red;
    transition: 1s;
    cursor: pointer;
}