html{
        font-size: 12px;
        font-family: "Montserrat","Lato",arial,"Noto Sans KR",sans-serif;
        letter-spacing: -0.5;
}

body {
    margin: 0;
    padding: 0; 
    overflow-x: hidden;
    overflow-y: auto;
}


ul, ol {
    position: relative;
//     display: inline-block;
    list-style: none;
    word-break: break-word;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}