body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Montserrat","Lato",arial,"Noto Sans KR",sans-serif; }

ul, ol {
  position: relative;
  display: inline-block;
  list-style: none;
  word-break: break-word;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0; }

input[type=button] {
  padding: 8px 10px 10px;
  margin-top: 7px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: yellowgreen; }

input[type=button]:hover {
  background-color: red;
  transition: 1s;
  cursor: pointer; }

img {
  width: 100%;
  border: 0;
  object-fit: cover;
  background-size: cover; }

.windows {
  width: 100vw;
  font-size: 1.2em;
  letter-spacing: -0.05em; }

.frame {
  width: 100%;
  max-width: 860px;
  background-color: #F9F9F9;
  margin: 0 auto;
  border-radius: 1.8em;
  padding-top: 2.3em;
  padding-bottom: 2.7em;
  margin-top: 2.3em; }

.f_margin_narrow {
  padding-top: 1em;
  padding-bottom: 1.3em;
  margin-top: 1em; }

.f_bg_none {
  background-color: transparent; }

.f_width_pic {
  background-color: transparent;
  max-width: 860px;
  padding-top: 0;
  padding-bottom: 0.3em;
  margin-top: 0; }

.f_border {
  border: 2px solid #127C3B;
  border-radius: 1.8em;
  background-color: transparent;
  max-width: 856px;
  padding-top: 1.6em;
  padding-bottom: 1.8em;
  margin-top: 2.3em; }

.frame_display {
  width: 100%;
  margin: 0 auto;
  margin-top: 2em; }

.sec_ad {
  position: relative;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .sec_ad .box_ad .chapter_ad {
    display: grid;
    grid-gap: 1.5em;
    align-content: center;
    grid-template-columns: 2fr 4fr;
    text-align: left;
    margin-top: 0.5em;
    line-height: 1.38em; }
    .sec_ad .box_ad .chapter_ad .scene_imagebox {
      position: relative; }
      .sec_ad .box_ad .chapter_ad .scene_imagebox .pic {
        position: absolute; }
    .sec_ad .box_ad .chapter_ad .scene_textbox li {
      margin-bottom: 0.5em; }
    .sec_ad .box_ad .chapter_ad .scene_textbox .title {
      font-size: 1.3em;
      font-weight: bold;
      color: #127C3B;
      letter-spacing: -0.05em;
      color: #C98414; }
    .sec_ad .box_ad .chapter_ad .scene_textbox .sub {
      font-size: 1.09em;
      line-height: 1.52em;
      letter-spacing: -0.03em; }
    .sec_ad .box_ad .chapter_ad .scene_textbox .money {
      font-size: 1.2em;
      font-weight: bold;
      padding-top: 0.5em; }

.sec_product {
  position: relative;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .sec_product .box_title {
    text-align: left;
    width: 100%; }
    .sec_product .box_title .title {
      text-align: center;
      font-size: 1.3em;
      font-weight: bold;
      color: #127C3B;
      letter-spacing: -0.05em; }
    .sec_product .box_title .sub {
      text-align: center;
      font-size: 1.09em;
      line-height: 1.52em;
      letter-spacing: -0.03em;
      margin-top: 0.5em; }
    .sec_product .box_title ul {
      width: 100%; }
  .sec_product .box_sentence {
    margin-top: 1.5em; }
    .sec_product .box_sentence .chapter_textbox {
      display: grid;
      grid-gap: 1.5em;
      align-content: center;
      grid-gap: 1em;
      grid-template-columns: 1fr 4fr;
      margin: 0 auto;
      text-align: left;
      line-height: 1.38em; }
      .sec_product .box_sentence .chapter_textbox .title {
        color: #127C3B;
        font-weight: bold;
        line-height: 1.38em; }
      .sec_product .box_sentence .chapter_textbox .text ul {
        list-style: disc; }
        .sec_product .box_sentence .chapter_textbox .text ul li {
          margin-bottom: 0.5em; }
  .sec_product .box_division {
    margin-top: 1.5em; }
    .sec_product .box_division .chapter_pt .pic {
      height: 220px;
      background-color: #6dd89a; }
    .sec_product .box_division .chapter_pt .title {
      padding-top: 0.55em; }
    .sec_product .box_division .chapter_pts {
      text-align: left; }
      .sec_product .box_division .chapter_pts .pic {
        height: 220px;
        background-color: #6dd89a;
        background-color: lightblue; }
      .sec_product .box_division .chapter_pts .title {
        font-size: 1em;
        font-weight: bold;
        color: #127C3B;
        padding-top: 0.55em; }
      .sec_product .box_division .chapter_pts .sub {
        padding-top: 0.2em;
        text-align: left; }
    .sec_product .box_division .chapter_ppts {
      width: 90%;
      margin: 0 auto; }
      .sec_product .box_division .chapter_ppts .pic {
        width: 150px;
        height: 150px;
        border-radius: 120px;
        background-color: lightblue;
        background-color: lightblue;
        margin: 0 auto; }
      .sec_product .box_division .chapter_ppts .pdtitle {
        width: 6.5em;
        padding-top: 0.25em;
        padding-bottom: 0.35em;
        padding-left: 2em;
        padding-right: 2em;
        border-radius: 5em;
        color: white;
        background-color: #C98414;
        padding-left: 0;
        padding-right: 0;
        background-color: #127C3B;
        margin: 0 auto;
        margin-top: 1.2em; }
      .sec_product .box_division .chapter_ppts .title {
        font-size: 1em;
        font-weight: bold;
        color: #127C3B;
        padding-top: 0.55em;
        padding-top: 0.4em;
        font-size: 1.09em; }
      .sec_product .box_division .chapter_ppts .sub {
        padding-top: 0.2em;
        text-align: left;
        margin-top: 0.2em; }
    .sec_product .box_division .chapter_product .product_pic {
      width: 100%;
      height: 300px;
      background-color: lightpink; }
    .sec_product .box_division .cut_half {
      display: grid;
      grid-gap: 1.5em;
      align-content: center;
      grid-template-columns: repeat(2, 2fr); }
    .sec_product .box_division .cut_third {
      display: grid;
      grid-gap: 1.5em;
      align-content: center;
      grid-template-columns: repeat(3, 2fr); }
      .sec_product .box_division .cut_third li {
        text-align: center; }
    .sec_product .box_division .cut_quarter {
      margin: 50px 0;
      display: grid;
      grid-gap: 1.5em;
      align-content: center;
      grid-template-columns: repeat(4, 2fr); }
    .sec_product .box_division .cut_one-third {
      display: grid;
      grid-gap: 1.5em;
      align-content: center;
      grid-template-columns: 1fr 3fr; }
    .sec_product .box_division .scene_imagebox .imagebox_title {
      padding: 0.4em 0;
      border: 1px solid #dedede;
      border-bottom: 0;
      background-color: #F3F2F1; }
    .sec_product .box_division .scene_imagebox .imagebox_title_correct {
      padding: 0.4em 0;
      border: 1px solid #dedede;
      border-bottom: 0;
      background-color: #F3F2F1;
      border: 1px solid #127C3B;
      border-radius: 1em 1em 0 0;
      background-color: #127C3B;
      color: white; }
    .sec_product .box_division .scene_imagebox .imagebox_title_wrong {
      padding: 0.4em 0;
      border: 1px solid #dedede;
      border-bottom: 0;
      background-color: #F3F2F1;
      border: 1px solid #531F7D;
      border-radius: 1em 1em 0 0;
      background-color: #531F7D;
      color: white; }
    .sec_product .box_division .scene_imagebox .imagebox_text {
      display: grid;
      grid-gap: 1.4em;
      align-content: center;
      padding: 1.2em 1.4em 0.8em;
      border-top: 0; }
      .sec_product .box_division .scene_imagebox .imagebox_text .pic_size_small {
        with: 100%;
        height: 10em;
        background-color: #6dd89a; }
    .sec_product .box_division .scene_imagebox .imagebox_text_correct {
      display: grid;
      grid-gap: 1.4em;
      align-content: center;
      padding: 1.2em 1.4em 0.8em;
      border-top: 0;
      border: 1px solid #127C3B;
      border-radius: 0 0 1em 1em;
      background-color: white; }
      .sec_product .box_division .scene_imagebox .imagebox_text_correct .pic_size_small {
        with: 100%;
        height: 10em;
        background-color: #6dd89a; }
      .sec_product .box_division .scene_imagebox .imagebox_text_correct .title {
        color: #127C3B;
        font-weight: bold; }
    .sec_product .box_division .scene_imagebox .imagebox_text_wrong {
      display: grid;
      grid-gap: 1.4em;
      align-content: center;
      padding: 1.2em 1.4em 0.8em;
      border-top: 0;
      border: 1px solid #531F7D;
      border-radius: 0 0 1em 1em;
      background-color: white; }
      .sec_product .box_division .scene_imagebox .imagebox_text_wrong .pic_size_small {
        with: 100%;
        height: 10em;
        background-color: #6dd89a; }
      .sec_product .box_division .scene_imagebox .imagebox_text_wrong .title {
        color: #531F7D;
        font-weight: bold; }
    .sec_product .box_division .scene_imagebox .colum_half {
      grid-template-columns: repeat(2, 2fr); }
    .sec_product .box_division .scene_imagebox .colum_third {
      grid-template-columns: repeat(3, 2fr); }
  .sec_product .box_highlight {
    border-radius: 1.8em;
    padding: 0.8em 0 1em 0;
    margin-bottom: 1em;
    margin-top: 1em; }
    .sec_product .box_highlight div {
      line-height: 1.55em; }
    .sec_product .box_highlight .chapter_notice {
      font-size: 1.09em;
      line-height: 1.52em;
      letter-spacing: -0.03em; }
  .sec_product .box_seal {
    margin-top: 2.2em;
    margin-bottom: 9.5em; }
    .sec_product .box_seal .title {
      font-family: 'Pacifico', cursive;
      font-size: 1.2em;
      letter-spacing: 0em;
      color: lightgray; }
    .sec_product .box_seal .sub {
      font-family: 'Vollkorn', serif;
      letter-spacing: 0.17em;
      font-size: 0.85em;
      color: lightgray;
      margin-top: 1px; }
  .sec_product .box_info .chapter_title .scene_category .title {
    padding-top: 0.25em;
    padding-bottom: 0.35em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 5em;
    color: white;
    background-color: #C98414;
    background-color: #C98414; }
  .sec_product .box_info .chapter_title .scene_label {
    margin-top: 1em;
    margin-bottom: 1em; }
    .sec_product .box_info .chapter_title .scene_label .title {
      font-size: 1.3em;
      font-weight: bold;
      color: #127C3B;
      letter-spacing: -0.05em; }
    .sec_product .box_info .chapter_title .scene_label .sub {
      font-size: 1.09em;
      line-height: 1.52em;
      letter-spacing: -0.03em; }
  .sec_product .box_info .chapter_title .scene_spec {
    width: 70%;
    border: 1px solid lightgray;
    padding: 0.5em 0 1em;
    margin: 0 auto; }
    .sec_product .box_info .chapter_title .scene_spec ul {
      padding: 0 0.8em; }
    .sec_product .box_info .chapter_title .scene_spec li {
      float: left;
      vertical-align: middle;
      line-height: 2px; }
    .sec_product .box_info .chapter_title .scene_spec .category {
      padding-right: 0.5em;
      color: gray; }
    .sec_product .box_info .chapter_title .scene_spec .num {
      line-height: 0px; }

.sec_display {
  position: relative;
  margin: 0 auto; }
  .sec_display .box_singleview {
    width: 100%;
    max-width: 860px;
    margin: 0 auto; }
  .sec_display .box_multiview {
    position: relative; }
    .sec_display .box_multiview .parts_ {
      position: relative; }
      .sec_display .box_multiview .parts_ .scene_pic {
        width: 90%;
        max-width: 800px;
        margin: 0 auto; }
    .sec_display .box_multiview .chapter_division {
      width: 90%;
      max-width: 800px;
      margin: 0 auto; }
      .sec_display .box_multiview .chapter_division .scene_nts .pic {
        width: 100%;
        height: 300px;
        background-color: rosybrown; }
    .sec_display .box_multiview .cut_one-third {
      display: grid;
      grid-gap: 1.5em;
      align-content: center;
      grid-template-columns: 1fr 3fr; }
    .sec_display .box_multiview .cut_onefour {
      display: grid;
      grid-gap: 1.5em;
      align-content: center;
      grid-template-columns: 1fr 1fr; }
  .sec_display .test {
    position: absolute;
    bottom: -1.5em;
    right: 0;
    width: 51%;
    height: 8em;
    z-index: -10;
    background-color: lightgoldenrodyellow; }

.sec_graph {
  position: relative;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  .sec_graph .box_graph {
    position: relative;
    margin: 2em 0;
    font-size: 1.3em;
    font-weight: bold;
    color: #127C3B;
    letter-spacing: -0.05em;
    color: black; }
    .sec_graph .box_graph .chapter_xy div {
      background-color: #dedede;
      margin: 0 auto; }
      .sec_graph .box_graph .chapter_xy div:first-child, .sec_graph .box_graph .chapter_xy div:last-child {
        width: 2px;
        height: 18em; }
      .sec_graph .box_graph .chapter_xy div:nth-child(2) {
        width: 77%;
        height: 2px; }
    .sec_graph .box_graph .draw_cirlce {
      position: absolute;
      border-radius: 20px;
      padding: 4px 12px 6px;
      background-color: #127C3B;
      color: white; }
    .sec_graph .box_graph .draw_label_lr {
      position: absolute;
      top: 47.8%; }

.insert_margin_info {
  margin: 2em 0 1.5em; }

.fill_color_main {
  background-color: #127C3B;
  color: white; }

.fill_color_gray {
  background-color: #F9F9F9; }

.fill_color_darkgray {
  background-color: #E0E0E0; }

.fill_color_white {
  background-color: white; }

.fill_color_base {
  background-color: #F9F9F9; }

.stroke_color_brown {
  border: 1px solid #C98414; }

.insert_line_title {
  border-bottom: 1px solid #dedede;
  margin-top: 1em;
  padding-bottom: 1.3em;
  margin-bottom: 1.7em; }

.insert_line {
  border-bottom: 1px solid #dedede;
  margin-top: 1em; }

.insert_line_margin_narrow {
  border-bottom: 1px solid #dedede;
  margin-top: 1em;
  margin-top: 0.8em; }

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .frame {
    padding-bottom: 2.1em; }

  .chapter_ad {
    position: relative; }
    .chapter_ad .scene_imagebox {
      width: 30%; }
      .chapter_ad .scene_imagebox .pic {
        width: 200px; }
    .chapter_ad .scene_textbox {
      margin-left: 28%; }

  .sec_product .box_title ul {
    margin: 0;
    padding: 0;
    border: 0 none; }
  .sec_product .box_division .chapter_pts ul li {
    text-align: left; }
  .sec_product .box_division .chapter_pts .pic {
    margin-bottom: 0.2em; }
  .sec_product .box_division .chapter_pts .title {
    padding-bottom: 0.1em; }
  .sec_product .box_division .chapter_pts .sub {
    padding-bottom: 1.8em;
    line-height: 1.3em; }
  .sec_product .box_division .chapter_pts .money {
    padding-bottom: 1.2em; }
  .sec_product .box_division .cut_half {
    display: inline-block;
    text-align: center; }
    .sec_product .box_division .cut_half ul {
      width: 41.3%;
      margin: 0;
      padding: 0 1.2%;
      border: 0 none; }
    .sec_product .box_division .cut_half .title {
      padding-bottom: 0.1em; }
  .sec_product .box_division .cut_third {
    text-align: center; }
    .sec_product .box_division .cut_third ul {
      width: 27.13%;
      margin: 0;
      padding: 0 1.2%;
      border: 0 none;
      vertical-align: top; }
      .sec_product .box_division .cut_third ul li {
        text-align: center; }
  .sec_product .box_division .scene_imagebox {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 1em; }
    .sec_product .box_division .scene_imagebox .imagebox_title_correct {
      padding: 0.7em 0; }
    .sec_product .box_division .scene_imagebox .imagebox_text_correct {
      padding-bottom: 0.2em; }
    .sec_product .box_division .scene_imagebox .imagebox_title_wrong {
      padding: 0.7em 0; }
    .sec_product .box_division .scene_imagebox .imagebox_text_wrong {
      padding-bottom: 0.2em; }
    .sec_product .box_division .scene_imagebox ul {
      margin: 0;
      padding: 0 0.5em;
      width: 30%; }
      .sec_product .box_division .scene_imagebox ul .title {
        padding-bottom: 0.1em; }
      .sec_product .box_division .scene_imagebox ul .money {
        padding-bottom: 1.3em; }
  .sec_product .box_sentence .chapter_textbox {
    display: inline-block; }
    .sec_product .box_sentence .chapter_textbox .title {
      width: 20%;
      margin-bottom: 0.8em;
      float: left; }
    .sec_product .box_sentence .chapter_textbox .text {
      width: 80%;
      margin-bottom: 0.8em;
      float: left; }
      .sec_product .box_sentence .chapter_textbox .text ul {
        margin: 0;
        padding: 0;
        border: 0 none; }
  .sec_product .box_highlight {
    width: 85%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto; } }
@media only screen and (min-width: 650px) and (max-width: 1024px) {
  .frame {
    max-width: 94%; }

  .frame_margin_narrow {
    max-width: 94%; }

  .sec_ad .box_ad {
    width: 90%;
    margin: 0 auto; }

  .sec_product .box_title {
    width: 90%;
    margin: 0 auto; }
    .sec_product .box_title .insert_line_margin_narrow {
      margin-bottom: 1.2em; }
    .sec_product .box_title .sub {
      margin-bottom: 1.2em;
      font-size: 1.05em;
      padding: 0 1%; }
  .sec_product .box_division {
    width: 90%;
    margin: 0 auto; }
    .sec_product .box_division .cut_one-third {
      grid-template-columns: 1fr; }
    .sec_product .box_division .cut_half {
      grid-template-columns: 1fr; }
    .sec_product .box_division .cut_third {
      grid-template-columns: repeat(2, 2fr); }
    .sec_product .box_division .scene_imagebox .colum_mobile_half {
      grid-template-columns: repeat(2, 2fr); }
    .sec_product .box_division .scene_imagebox .colum_third {
      grid-template-columns: repeat(2, 2fr); }
  .sec_product .box_sentence {
    width: 9 90%;
    margin: 0 auto; }
    .sec_product .box_sentence .chapter_textbox {
      display: inline-block; }
      .sec_product .box_sentence .chapter_textbox .title {
        margin-bottom: 0.4em;
        font-size: 1.09em; }
      .sec_product .box_sentence .chapter_textbox .text {
        margin-bottom: 1em;
        margin-left: 6%;
        padding-right: 6%; }
  .sec_product .box_highlight {
    width: 90%;
    margin: 0 auto;
    margin-top: 1.2em; } }
@media only screen and (min-width: 0px) and (max-width: 649px) {
  .frame {
    max-width: 94%; }

  .frame_margin_narrow {
    max-width: 94%; }

  .sec_ad .box_ad {
    width: 90%;
    margin: 0 auto; }

  .sec_product .box_title {
    width: 90%;
    margin: 0 auto; }
    .sec_product .box_title .insert_line_margin_narrow {
      margin-bottom: 1.2em; }
    .sec_product .box_title .sub {
      margin-bottom: 1.2em;
      font-size: 1.05em;
      padding: 0 1%;
      text-align: left; }
  .sec_product .box_division {
    width: 90%;
    margin: 0 auto; }
    .sec_product .box_division .cut_one-third {
      grid-template-columns: 1fr; }
    .sec_product .box_division .cut_half {
      grid-template-columns: 1fr; }
    .sec_product .box_division .cut_third {
      grid-template-columns: repeat(2, 2fr); }
    .sec_product .box_division .scene_imagebox .colum_mobile_half {
      grid-template-columns: repeat(2, 2fr); }
    .sec_product .box_division .scene_imagebox .colum_third {
      grid-template-columns: repeat(2, 2fr); }
  .sec_product .box_sentence {
    width: 90%;
    margin: 0 auto; }
    .sec_product .box_sentence .chapter_textbox {
      display: inline-block; }
      .sec_product .box_sentence .chapter_textbox .title {
        margin-bottom: 0.4em;
        font-size: 1.09em; }
      .sec_product .box_sentence .chapter_textbox .text {
        margin-bottom: 1em;
        margin-left: 6%;
        padding-right: 6%; }
  .sec_product .box_highlight {
    width: 90%;
    margin: 0 auto;
    margin-top: 1.2em; } }
/* IE6,7,9,10 */
@media screen and (min-width: 640px), screen\9  {
  /* Enter your style code */ }
/* IE6,7 */
@media screen\9  {
  /* Enter your style code */ }
/* IE8 */
@media \0 screen {
  /* Enter your style code */ }
/* IE6,7,8 */
@media \0 screen\,screen\9  {
  /* Enter your style code */ }
/* IE9,10 */
@media screen and (min-width: 0\0 ) {
  /* Enter your style code */ }

/*# sourceMappingURL=detail_view.css.map */
