@import "default_style.scss";
@import "dtview.scss";
@import "font.scss";
@import "color.scss";
@import "size.scss";

//프레임을 잡습니다. 프레임 가로넓이는 size.scss에서! 현재는 1200px
.windows {width: 100vw;}
.frame {
    width: 100%;
    max-width: $frame_width;
    background-color: $color-gray;
    @include v_center;
    @include b_radi;
    @include frame_margin_default;
}
.frame_margin_narrow {
    width: 100%;
    max-width: $frame_width;
    background-color: $color-gray;
    @include v_center;
    @include b_radi;
    @include frame_margin_narrow;
}


//모듈화 01depth
.sec_ad{
    @include sec_default;
    .box_ad{
        .chapter_ad{
            @include grid_default;
            @include grid_colum_ad;
            @include t_left;
            @include margin_chapter-chapter;
            line-height: $line-height_sentence_basic;
            .scene_imagebox{
                position: relative;
                .pic{
                    position: absolute;
                }
            }
            .scene_textbox{
                li{margin-bottom: $spline_text-list;}
                .title{@include style_typo_ad_title;}
                .sub{@include typo_basic;}
                .money{@include typo_money; padding-top: 0.5em;}
            }
        }
    }
}

.sec_product{
    @include sec_default;
    .box_title{
        .title{@include t_center; @include typo_title;}
        .sub{@include t_center; @include typo_title_sub;}
    }
    .box_sentence{
        .chapter_text{
            @include chapter_default;
            .title{@include style_sentence_title;}
            .text{
                ul{
                    list-style: disc;
                    li{
                        margin-bottom: $spline_text-list;
                    }
                }
            }
        }        
    }
    .box_division{
        @include margin_box-box;
        @include typo_basic;
        .chapter_pt{
            .pic{@include box_pic;}
            .title{@include style_division_title;}
        }
        .chapter_pts{
            @include t_left;
            .pic{@include box_pic; background-color: lightblue;}
            .title{@include typo_division_title; @include style_division_title;}
            .sub{@include style_division_sub;}
        }

        .cut_half{
            margin:50px 0;
            @include grid_default;
            @include grid_colum_half;
        }
        .cut_third{
            margin:50px 0;
            @include grid_default;
            @include grid_colum_third;
        }
        .cut_quarter{
            margin:50px 0;
            @include grid_default;
            @include grid_colum_quarter;
        }

        .add_stroke{
            background-color: white;
            .scene_imagebox{
                .imagebox_title{@include grid_title_box;}
                .imagebox_title_correct{@include grid_title_correct;}
                .imagebox_title_wrong{@include grid_title_wrong;}
                .imagebox_text{ @include grid_box; }
                .colum_half{@include grid_colum_half;}
                .colum_third{@include grid_colum_third;}
            }
        }
    }
    .box_highlight{
        @include add_box_highlight;
        @include margin_box-add;
        div{line-height: $hightlight_line-height_typo;}
        .chapter_notice{@include typo_title_sub;}
        .chapter_text{@include typo_basic;}
    }
}

.sec_graph{
    @include sec_default;
    .box_graph{
        position: relative;
        margin: 2em 0;
        @include typo_title;
        color: black;
        .chapter_xy{
            div{
                background-color: $color-gray-border;
                margin: 0 auto;
                &:first-child, &:last-child{
                    width:2px;
                    height:18em;
                }
                &:nth-child(2){
                    width:77%;
                    height:2px;
                }
            }
        }
        .draw_text{
            position: absolute;
            border-radius : 20px;
            padding: 4px 12px 6px;
            background-color: $color-main;
            color: white;
        }
        .draw_text_title{
            position: absolute;
            top:47.8%;
        }
    }
}



.fill_color_main{background-color: $color-main; color:white;}
.fill_color_gray{background-color: $color-gray;}
.fill_color_white{background-color: white;}

.insert_line_title{@include insert_title_line;}
.insert_line{@include insert_line;}

// ms explorer11일떄
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    ul{padding: 0;}
}