body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    border: 1px solid red;
    .item {
        width:22%;
        height:100px;
        border: 1px solid black;
    }
}