body {
  margin: 0;
  padding: 0;
  font-size: 12px; }

ul {
  position: relative;
  display: inline-block;
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0; }

input[type=button] {
  padding: 8px 10px 10px;
  margin-top: 7px;
  border: 1px solid red;
  border-radius: 10px;
  background-color: yellowgreen; }

input[type=button]:hover {
  background-color: red;
  transition: 1s;
  cursor: pointer; }

.container_dtview .box_dtview_etc {
  position: relative;
  max-width: 780px;
  width: 92%;
  margin: 0 auto; }
  .container_dtview .box_dtview_etc ul {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1.4em;
    margin-bottom: 1.4em; }
    .container_dtview .box_dtview_etc ul:last-child {
      margin-bottom: 0; }
  .container_dtview .box_dtview_etc li {
    font-size: 1.2em;
    font-weight: normal; }
    .container_dtview .box_dtview_etc li:nth-child(odd) {
      font-size: 1.2em;
      font-weight: bold;
      color: #127C3B; }
  .container_dtview .box_dtview_etc .box_dtview_contents ul {
    display: inline-block;
    list-style-type: disc;
    margin-bottom: 0; }
  .container_dtview .box_dtview_etc .box_dtview_contents li {
    font-size: 1em;
    padding-bottom: 0.25em; }
    .container_dtview .box_dtview_etc .box_dtview_contents li:nth-child(odd) {
      color: black;
      font-weight: normal; }
.container_dtview .dtview_subtitle {
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.4em;
  border-bottom: 1px solid #dedede;
  margin-bottom: 0.85em;
  padding-bottom: 0.85em; }
  .container_dtview .dtview_subtitle div {
    font-size: 1.4em;
    font-weight: bold;
    color: #127C3B;
    margin-bottom: 0.3em; }
.container_dtview .dtview_subtitle_left {
  line-height: 1.6em;
  margin-bottom: 1.2em;
  font-size: 1.2em;
  text-align: left;
  padding: 0 1.2em; }
  .container_dtview .dtview_subtitle_left span {
    font-weight: bold;
    color: #127C3B;
    line-height: 2.2em; }
.container_dtview .dtview_subscript {
  font-size: 1.2em;
  text-align: left;
  line-height: 1.6em;
  padding: 1em 1.2em;
  background-color: white;
  border-radius: 1em;
  margin-bottom: 1.4em; }
.container_dtview .dtview_after {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2em;
  color: #127C3B;
  font-weight: bold;
  margin-top: 1.4em; }
  .container_dtview .dtview_after ul {
    position: relative;
    display: inline-block; }
  .container_dtview .dtview_after li {
    width: 100%; }
    .container_dtview .dtview_after li:nth-child(odd) {
      color: black;
      font-weight: normal;
      overflow: hidden;
      background-repeat: no-repeat; }
    .container_dtview .dtview_after li:first-child {
      height: 300px;
      background-color: goldenrod; }
    .container_dtview .dtview_after li:nth-child(2) {
      padding: 5px 0 2px 0; }
    .container_dtview .dtview_after li:last-child {
      font-weight: normal;
      line-height: 1.4em; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .container_dtview .box_dtview_etc li {
    float: left; }
    .container_dtview .box_dtview_etc li:nth-child(odd) {
      width: 18%;
      min-width: 80px; }
    .container_dtview .box_dtview_etc li:nth-child(even) {
      width: 80%; } }

/*# sourceMappingURL=detail_view.css.map */
