@import "color.scss";
@import "font.scss";
@import "default_style.scss";

@mixin width-style{
    max-width: $sc-type01;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

ul {
    position: relative;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}

.container_dtview{
    @include width-style;
    
}

.container_dtview_etc {
    @include width-style;
    background-color: $color-gray;
    border-radius: 25px;
    margin-top: $typo-sc06;
    .box_dtview_etc {
        width:70%;
        margin:0 auto;
        padding: $typo-sc07 0;
        line-height: $typo-sc05;
        ul{
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-gap:$typo-sc01;
            margin-bottom: $typo-sc02;
            &:last-child{
                margin-bottom: 0;
            } 
        }
        li{
            font-size: $typo-sc02;
            &:nth-child(odd){
                color: $color-main;
                font-weight: bold;
            }
            &:nth-child(even){
            }
        }
        .box_dtview_contents{
            ul{
                display: inline-block;
                list-style-type: disc;
                margin-bottom:0;
            }
            li{
                font-size: $typo-sc01;
                padding-bottom: 0.25em;
                &:nth-child(odd){
                    color:black;
                    font-weight: normal;
                }
            }
        }
    }
    .dtview_subtitle{
        font-size: $typo-sc03;
        text-align: center;
        line-height: $typo-sc03;
        padding-bottom: $typo-sc01;
        margin-bottom: $typo-sc02;
        border-bottom: 1px solid #dddddd;
        span{
            font-weight: bold;
            color: $color-main;
            line-height: $typo-sc06;
        }
    }
    .dtview_after{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $typo-sc01;
        color:$color-main;
        font-weight: bold;
        div{
            width:50%;
        }
        ul{
            display: inline-block;
        }
        li{
            &:nth-child(odd){
                color:black;
                font-weight: normal;
            }
            &:first-child{
                height: 250px;
                background-color: red;
            }
            &:last-child{
                font-weight: normal;
            }
        }
    }
}



@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .container_dtview_etc{
        .box_dtview_etc{
            li {
                float: left;
                &:nth-child(odd){
                    width:18%;
                    min-width:80px;
                }
                &:nth-child(even){
                    width:80%;
                }
            }
        }
    }
}
