@import "default_style.scss";
@import "dtview.scss";
@import "font.scss";
@import "color.scss";
@import "size.scss";

img{width:100%; border: 0; object-fit: cover; background-size: cover;}
//프레임을 잡습니다. 프레임 가로넓이는 size.scss에서! 현재는 1200px
.windows {width: 100vw; @include typo_default;}
.frame {
    width: 100%;
    max-width: $frame_width;
    background-color: $color-gray;
    @include v_center;
    @include b_radi;
    @include frame_margin_default;
}

.frame_narrow {
    width: 100%;
    max-width: $frame_width;
    background-color: $color-gray;
    @include v_center;
    @include b_radi;
    @include frame_margin_narrow;
}

.f_margin_narrow{@include frame_margin_narrow;}
.f_bg_none{background-color: transparent;}
.f_width_pic{background-color: transparent; max-width: $frame_pic_whdth; @include frame_margin_pic;}
.f_border{border:2px solid $color-main; @include b_radi; background-color: transparent; max-width: $frame_pic_whdth_border; @include frame_border;}



.frame_display{
    width: 100%;
    @include v_center;
}

//광고 섹션
.sec_ad{
    @include sec_default;
    .box_ad{
        .chapter_ad{
            @include grid_default;
            @include grid_colum_ad;
            @include t_left;
            @include margin_chapter-chapter;
            line-height: $line-height_sentence_basic;
            .scene_imagebox{
                position: relative;
                .pic{
                    position: absolute;
                }
            }
            .scene_textbox{
                li{margin-bottom: $spline_text-list;}
                .title{@include ad_typo_text;}
                .sub{@include typo_title_sub;}
                .money{@include typo_money; padding-top: $margin_boxSub-box;}
            }
        }
    }
}

.sec_product{
    @include sec_default;
    .box_title{
        @include t_left;
        width: 100%;
        .title{@include t_center; @include typo_title;}
        .sub{@include t_center; @include typo_title_sub; margin-top:$margin_boxSub-box;}
        ul{width:100%;
            li{}
        }

    }
    .box_sentence{
        margin-top:$margin_box-box;
        .chapter_textbox{
            @include chapter_default;
            .title{@include style_sentence_title;}
            .text{
                ul{
                    list-style: disc;
                    li{
                        margin-bottom: $spline_text-list;
                    }
                }
            }
        }        
    }
    .box_division{
        margin-top:$margin_box-box;
        .chapter_pt{
            .pic{@include box_pic;}
            .title{@include style_division_title;}
        }
        .chapter_pts{
            @include t_left;
            .pic{@include box_pic; background-color: lightblue;}
            .title{@include typo_division_title; @include style_division_title;}
            .sub{@include style_division_sub; @include t_left;  }
        }
        .chapter_ppts{
            width:90%;
            @include v_center;
            .pic{@include box_pic_circle; background-color: lightblue; @include v_center;}
            .pdtitle{width:6.5em; @include RadioButtonGreen; @include v_center;  margin-top: 1.2em;}
            .title{@include typo_division_title; @include style_division_title; padding-top: 0.4em; font-size: $typo_sub;}
            .sub{@include style_division_sub; @include t_left;  margin-top: 0.2em;}
        }
        .chapter_product{
            .product_pic{
                width:100%;
                height: 300px;
                background-color: lightpink;
            }
        }

        

        .scene_imagebox{
            .imagebox_title{@include grid_title_box;}
            .imagebox_title_correct{@include grid_title_correct;}
            .imagebox_title_wrong{@include grid_title_wrong;}
            .imagebox_text{ 
                @include grid_box;
                .pic_size_small{@include pic_size_small;}
            }
            .imagebox_text_correct{ 
                @include grid_box_correct;
                .pic_size_small{@include pic_size_small;}
                .title{color:$color-gridbox_title_corret; font-weight: bold;}
            }
            .imagebox_text_wrong{ 
                @include grid_box_wrong;
                .pic_size_small{@include pic_size_small;}
                .title{color:$color-gridbox_title_wrong; font-weight: bold;}
            }
            

            .colum_half{@include grid_colum_half;}
            .colum_third{@include grid_colum_third;}
        }
    }
    .box_highlight{
        @include add_box_highlight;
        @include margin_box-add;
        div{line-height: $hightlight_line-height_typo;}
        .chapter_notice{@include typo_title_sub;}
        .chapter_textbox{}
    }
    .box_seal{
        margin-top:8em;
        margin-bottom:14em;
        .title {@include typo_seal_title;}
        .sub {@include typo_seal_sub; margin-top:1px;}
    }
    .box_info{
        .chapter_title{
            .scene_category{
                .title{@include RadioButton; background-color: $color-ad_title;}                
            }
            .scene_label{
                margin-top:1em;
                margin-bottom:1em;
                .title{@include typo_title;} 
                .sub{@include typo_title_sub;}
            }
            .scene_spec{
                width:70%;
                border: 1px solid lightgray;
                padding: 0.5em 0 1em;
                @include v_center;
                ul{padding:0 0.8em;}
                li{float: left; vertical-align: middle; line-height: 2px;}
                .category{padding-right:0.5em; color:gray;}
                .num{line-height: 0px;}
            }
        }

    }


}

.sec_display{
    @include sec_product_pic;
    .box_poster{
        position: relative;
        width:100%;
        max-width: $frame_width;
        @include v_center;
        margin-top:$margin_box-box;
        .scene_front{
            position: absolute;
            top:100px;
            left:0;
            z-index: 1;
            width:100%;
            @include t_center;
            .category{border: 1px solid red; border-left: 0; border-right:0; padding:0.2em 0 0.4em 0;}
            .title{font-size: 5em;}
        }
        .scene_bottom{
            position: absolute;
            bottom:90px;
            z-index: 1;
            width:100%;
            @include t_center;
        }
        .scene_back{
            // .pic{width:100%; height:900px; background-color: lightgreen;}
        }
    }
    .box_singleview{
        width:100%;
        max-width: $frame_pic_whdth;
        @include v_center;
    }
    .box_multiview{
        position: relative;
        // margin-top:$margin_frame;
        .parts_explain{
            position: relative;
            margin-top:8em;
            .scene_front{
                .division_info{
                    width:100%;
                    max-width:$frame_width;
                    @include v_center;
                    @include grid_default;
                    .pic{
                        width:100%; height: 400px; background-color: rosybrown;
                        img{width:100%; height: 100%; border: 0; object-fit: cover; background-size: cover;}
                    }
                    ul{
                        margin: 0 1em;
                        .num{font-size: 3.5em; font-family: 'Righteous', cursive; margin-top:0.1em;}
                        .num_green{@extend .num; color:$color-main;}
                        .num_violet{@extend .num; color:$color-gridbox_title_wrong;}
                        .num_orange{@extend .num; color:$color-ad_title;}
                        .title{font-size:3em; font-family: 'Do Hyeon', sans-serif; margin-top: -0.35em;}
                        .sub{margin-top:2.5em;}
                    }
                    
                }
            }
            .scene_back{
                .sq_box{
                    position: absolute;
                    z-index: -1;
                }
                .sq_color_left_yg{
                    background: linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(201,132,20,1) 30%, rgba(18,124,59,1) 80%);
                }
                .sq_color_right_vg{
                    background: linear-gradient(-90deg, rgba(255,255,255,0) 10%, rgba(18,124,59,1) 30%, rgba(83,31,125,1) 80%);
                }
                .sq_color_center{
                    background: linear-gradient(90deg, rgba(255,255,255,0) 8%, rgba(201,132,20,1) 25%, rgba(83,31,125,1) 50%, rgba(18,124,59,1) 75%, rgba(255,255,255,0) 92%);
                }
                .sq_lift_nomal{
                    @extend .sq_box;
                    @extend .sq_color_left_yg;
                    width:50.3%;
                    height: 9em;
                    left: 0;
                    bottom:-1.2em;
                }
                .sq_right_nomal{
                    @extend .sq_box;
                    @extend .sq_color_right_vg;
                    width:50.3%;
                    height: 9em;
                    right: 0;
                    bottom:-1.2em;
                }
                .sq_center{
                    @extend .sq_box;
                    @extend .sq_color_center;
                    width:100%;
                    height: 5.5em;
                    right: 50%;
                    bottom:-1.2em;
                    transform: translateX(50%);
                }
            }
        }
        .parts_3{
            margin-top:10em;
        }
    }
}

.sec_graph{
    @include sec_default;
    .box_graph{
        position: relative;
        margin: 2em 0;
        @include typo_title;
        color: black;
        .chapter_xy{
            div{
                background-color: $color-gray-border;
                margin: 0 auto;
                &:first-child, &:last-child{
                    width:2px;
                    height:18em;
                }
                &:nth-child(2){
                    width:77%;
                    height:2px;
                }
            }
        }
        .draw_cirlce{
            position: absolute;
            border-radius : 20px;
            padding: 4px 12px 6px;
            background-color: $color-main;
            color: white;
        }
        .draw_label_lr{
            position: absolute;
            top:47.8%;
        }
        .draw_labe_tb{

        }
    }
}


.cut_half{
    @include grid_default;
    @include grid_colum_half;
}
.cut_third{            
    @include grid_default;
    @include grid_colum_third;
    li{
        @include t_center;
    }
}
.cut_quarter{
    margin:50px 0;
    @include grid_default;
    @include grid_colum_quarter;
}
.cut_one-third{
    @include grid_default;
    @include grid_colum_one-third;
}
.cut_SevenEight{
    @include grid_default;
    @include grid_colum_SevenEight;
}
.cut_EightSeven{
    @include grid_default;
    @include grid_colum_EightSeven;
}


.fill_color_main{background-color: $color-main; color:white;}
.fill_color_gray{background-color: $color-gray;}
.fill_color_darkgray{background-color: #E0E0E0;}
.fill_color_white{background-color: white;}
.fill_color_base{background-color: $color-gray}
.stroke_color_brown{border: 1px solid #C98414;}

.insert_margin_info{margin: 2em 0 1.5em;}
.insert_line_title{@include insert_title_line;}
.insert_line{@include insert_line;}
.insert_line_margin_narrow{@include insert_line_margin_narrow;}

// ms explorer 전용 css코드
/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .frame{
        padding-bottom: 2.1em;
    }
    .chapter_ad{
        position: relative;
        .scene_imagebox{
            width:30%;
            .pic{width:200px;}
        }
        .scene_textbox{
            margin-left:28%;
        }
    }
    .sec_product{
        .box_title{
            ul{margin: 0;padding: 0; border: 0 none;}
        }
        .box_division{
            .chapter_pts{
                ul{
                    li{@include t_left;}
                }
                .pic{margin-bottom: 0.2em;}
                .title{padding-bottom: 0.1em;}
                .sub{padding-bottom: 1.8em; line-height: 1.3em;}
                .money{padding-bottom:1.2em;}
            }
            .cut_half{
                display: inline-block;
                @include t_center;
                ul{
                    width:41.3%;
                    margin: 0;
                    padding: 0 1.2%; 
                    border: 0 none;
                }
                .title{padding-bottom: 0.1em;}
            }
            .cut_third{
                @include t_center;
                ul{
                    width:27.13%;
                    margin: 0;
                    padding: 0 1.2%; 
                    border: 0 none;
                    vertical-align: top;
                    li{
                        @include t_center;
                        
                    }
                }
            }

            .scene_imagebox{
                width:$ie10_imagebox;
                @include v_center;
                margin-bottom:1em;
                .imagebox_title_correct{padding:$ie10_spline_stroke_title 0;}
                .imagebox_text_correct{padding-bottom: $ie10_imagebox_text;}
                .imagebox_title_wrong{padding:$ie10_spline_stroke_title 0;}
                .imagebox_text_wrong{padding-bottom: $ie10_imagebox_text;}
                ul{
                    margin: 0;
                    padding: 0 0.5em;
                    width:$ie10_imagebox_ul;
                    .title{padding-bottom: 0.1em;}
                    .money{padding-bottom:1.3em;}
                }
            }
        }
        .box_sentence{
            .chapter_textbox{
                display: inline-block;
                .title{
                    width:20%; 
                    margin-bottom: 0.8em;
                    float: left; 
                }
                .text{
                    width:80%; 
                    margin-bottom: 0.8em;
                    float: left;
                    ul{
                        margin: 0;
                        padding: 0; 
                        border: 0 none;
                    }
                }
            }        
        }
        .box_highlight{
            width:$ie10_imagebox;
            padding-left: 0;
            padding-right: 0;
            @include v_center;
        }
        
    }
   }

   @media only screen and (min-width : 650px) and (max-width : 1024px) {
    .frame{max-width:$ie10_width_frame;}
    .frame_margin_narrow{max-width:$ie10_width_frame;}

    .sec_ad{
        .box_ad{
            width:$ie10_width_box;
            @include v_center;
        }
    }

    .sec_product{
        .box_title{width:$ie10_width_box; @include v_center;
            .insert_line_margin_narrow{margin-bottom:1.2em;}
            .sub{margin-bottom:1.2em; font-size: 1.05em; padding: 0 1%;}
        }
        .box_division{width:$ie10_width_box; @include v_center;
            .cut_one-third{@include grid_colum_default;}
            .cut_half{@include grid_colum_default;}
            .cut_third{@include grid_colum_half;}
            .scene_imagebox{
                .colum_mobile_half{@include grid_colum_half;}
                .colum_third{@include grid_colum_half;}
            }
            
        }
        .box_sentence{width:9$ie10_width_box; @include v_center;
            .chapter_textbox{
                display: inline-block;
                .title{margin-bottom:0.4em; font-size: $typo_sub;}
                .text{margin-bottom: 1em; margin-left: 6%; padding-right: 6%;}
            }
        }
        .box_highlight{width:$ie10_width_box; @include v_center; margin-top:1.2em;}
    }
   }

   @media only screen and (min-width : 0px) and (max-width : 649px) {
    .frame{max-width:$ie10_width_frame;}
    .frame_margin_narrow{max-width:$ie10_width_frame;}

    .sec_ad{
        .box_ad{
            width:$ie10_width_box;
            @include v_center;
        }
    }


    .sec_product{
        .box_title{width:$ie10_width_box; @include v_center;
            .insert_line_margin_narrow{margin-bottom:1.2em;}
            .sub{margin-bottom:1.2em; font-size: 1.05em; padding: 0 1%; @include t_left;}
        }
        .box_division{width:$ie10_width_box; @include v_center;
            .cut_one-third{@include grid_colum_default;}
            .cut_half{@include grid_colum_default;}
            .cut_third{@include grid_colum_half;}
            .scene_imagebox{
                .colum_mobile_half{@include grid_colum_half;}
                .colum_third{@include grid_colum_half;}
            }
            
        }
        .box_sentence{width:$ie10_width_box; @include v_center;
            .chapter_textbox{
                display: inline-block;
                .title{margin-bottom:0.4em; font-size: $typo_sub;}
                .text{margin-bottom: 1em; margin-left: 6%; padding-right: 6%;}
            }
        }
        .box_highlight{width:$ie10_width_box; @include v_center; margin-top:1.2em;}
    }
   }

   /* IE6,7,9,10 */
   @media screen and (min-width: 640px), screen\9 {
    /* Enter your style code */
   }
    
   /* IE6,7 */
   @media screen\9 {
    /* Enter your style code */
   }
    
   /* IE8 */
   @media \0screen {
    /* Enter your style code */
   }
    
   /* IE6,7,8 */
   @media \0screen\,screen\9 {
    /* Enter your style code */
   }
    
   /* IE9,10 */
   @media screen and (min-width:0\0){
    /* Enter your style code */
   } 