
// basic control
@mixin v_center{margin: 0 auto}
@mixin b_radi{border-radius: $typo_basic;}
@mixin t_center{text-align: center;}
@mixin t_left{text-align: left;}
@mixin t_bold{font-weight: bold;}

//frame_margin_default
@mixin frame_margin_default{
    padding-top: $frame_space;
    padding-bottom: $frame_space_bottom;
    margin-top: $frame_space;
    margin-bottom: $frame_space;
}

@mixin frame_margin_narrow{
    padding-top: $frame_space_narrow;
    padding-bottom: $frame_space_narrow_bottom;
    margin-top: $frame_space_narrow;
    margin-bottom: $frame_space_narrow;
}

@mixin sec_default{
    position: relative;
    max-width: $sec_width;
    width:100%;
    @include v_center;
    @include t_center;
}

@mixin chapter_default{
    @include grid_textbox;
    @include grid_colum_word;
    @include v_center;
    @include t_left;
    line-height: $line-height_sentence_basic;
}

@mixin box_pic {
    height: 220px;
    background-color: #6dd89a;
}

@mixin pic_size_small{
    with:100%;
    height: 10em;
    background-color: #6dd89a;
}


//area margin
@mixin margin_box-box{margin-top:$margin_box-box;}
@mixin margin_box-add{margin-top:$margin_box-add;}
@mixin margin_chapter-chapter{margin-top:$margin_chapter-chapter;}


//Grid Status

@mixin grid_box_border{border:1px solid $color-gray-border;}
@mixin grid_border_correct{border:1px solid $color-gridbox_title_corret;}
@mixin grid_border_wrong{border:1px solid $color-gridbox_title_wrong;}


@mixin grid_colum_default{grid-template-columns:1fr;}
@mixin grid_colum_ad{grid-template-columns: 2fr 4fr;}
@mixin grid_colum_word{grid-template-columns: 1fr 4fr;}
@mixin grid_colum_half{grid-template-columns: repeat(2, 2fr);}
@mixin grid_colum_third{grid-template-columns: repeat(3, 2fr);}
@mixin grid_colum_quarter{grid-template-columns: repeat(4, 2fr);}
@mixin grid_colum_one-third{grid-template-columns: 1fr 3fr;}




@mixin grid_default{
    display: grid;
    grid-gap:$grid_colum_nomal;
    align-content: center;
}
@mixin grid_textbox{
    @include grid_default;
    grid-gap:$grid_colum_textbox;
}

@mixin grid_title_box{
    padding: $spline_stroke_title 0;
    @include grid_box_border;
    border-bottom: 0;
    background-color: $color-gray-hover;
}

@mixin grid_title_correct{
    @include grid_title_box;
    @include grid_border_correct;
    border-radius: $grid_border_radius_top;
    background-color: $color-gridbox_title_corret;
    color:white;
}
@mixin grid_title_wrong{
    @include grid_title_box;
    @include grid_border_wrong;
    border-radius: $grid_border_radius_top;
    background-color: $color-gridbox_title_wrong;
    color:white;
}
@mixin grid_box{    
    display: grid;
    grid-gap:$grid_colum_box_side;
    align-content: center;
    padding: $grid_colum_box_top $grid_colum_box_side $grid_colum_box_bottom;
    border-top: 0;    
}
@mixin grid_box_correct{
    @include grid_box;
    @include grid_border_correct;
    border-radius: $grid_border_radius_bottom;
    background-color: white;
    
}
@mixin grid_box_wrong{
    @include grid_box;
    @include grid_border_wrong;
    border-radius: $grid_border_radius_bottom;
    background-color: white;
}







// 추가요소 (중복 클래스 사용)
@mixin insert_line{
    border-bottom: 1px solid $color-gray-border;
}
@mixin insert_line_margin_narrow{
    @include insert_line;
    padding-bottom:0.7em;
}
@mixin insert_title_line{
    @include insert_line;
    padding-bottom: $spline_title_sub-line;
    margin-bottom: $spline_title_line-box;
}

@mixin add_box_highlight{
    @include b_radi;
    padding: $highlight_padding_top 0 $highlight_padding_bottom 0;
    margin-bottom: $highlight_padding_bottom;
}
