@mixin ty_basic{
    font-size: $type_nomal;
    font-weight: normal;
}

@mixin ty_baisc_bold{
    font-size: $type_nomal;
    font-weight: bold;
    color:$color-main;
}

@mixin ty_big_title{
    font-size: $type_bigger;
    font-weight: bold;
    color: $color-main;
}
@mixin ty_big_subtitle{
    font-size: $type_bigger;
    font-weight: bold;
    color: $color-main;
}

$type_nomal:1.2em;
$type_bigger:1.4em;

$size_xsmall:0.3em;
$size_small:0.85em;
$size_nomal:1.4em;
$size_large:1.8em;
$size_xlarge:2.2em;




$typo-sc00:0.6em;
$typo-sc01:1em;
$typo-sc02:1.2em;
$typo-sc03:1.4em;
$typo-sc04:1.6em;
$typo-sc05:1.8em;
$typo-sc06:2em;
$typo-sc07:2.2em;
$typo-sc08:2.4em;
$typo-sc09:2.6em;
$typo-sc10:2.8em;
$typo-sc11:3em;



