//글꼴 속성
@mixin typo_basic{
    font-size: $typo_basic;
}

@mixin typo_title{
    font-size: $typo_title;
    font-weight: bold;
    color: $color-main;
}

@mixin typo_title_sub{
    font-size: $typo_sub;
    line-height: $line-height_sentence_basic;
}

@mixin typo_division_title{
    font-size: $typo_basic;
    font-weight: bold;
    color: $color-main;
}

@mixin typo_money {
    font-size: $typo_sub;
    font-weight: bold;
}

//구역별 추가 스타일
@mixin style_typo_ad_title{
    font-size: $typo_title_mid;
    font-weight: bold;
    color: $color-main;
}

@mixin style_sentence_title{
    color: $color-main;
    font-weight: bold;
    line-height: $line-height_sentence_basic;
}

@mixin style_division_title{
    padding-top:$spline_division_pic-title;
}

@mixin style_division_sub{
    padding-top:$spline_division_title-sub;
}

@mixin style_highlight_noaml{
    font-size: $typo_basic;
}

