@mixin ty_basic{
    font-size: $type_normal;
    font-weight: normal;
    @include textline_default;
}

@mixin ty_baisc_bold{
    font-size: $type_normal;
    font-weight: bold;
    color:$color-main;
}

@mixin ty_big_title{
    font-size: $type_bigger;
    font-weight: bold;
    color: $color-main;
}

@mixin ty_big_title_sub{
    font-size: $type_big;
    line-height: $size_xlarge;
}

@mixin ty_big_subtitle{
    font-size: $type_big;
    font-weight: bold;
    color: $color-main;
}


//추가분

@mixin typo_basic{
    font-size: $typo_basic;
}

@mixin typo_title{
    font-size: $typo_title;
    font-weight: bold;
    color: $color-main;
}

@mixin typo_title_sub{
    font-size: $typo_sub;
}

@mixin typo_division_title{
    font-size: $typo_basic;
    font-weight: bold;
    color: $color-main;
}




@mixin style_sentence_title{
    color: $color-main;
    font-weight: bold;
}

@mixin style_division_title{
    padding-top:$spline_division_pic-title;
}

@mixin style_division_sub{
    padding-top:$spline_division_title-sub;
}

@mixin style_highlight_noaml{
    font-size: $typo_basic;
}


