$colorWhiteTrans:hsla(0, 0%, 100%, 0.8);


$color-main: hsl(143, 75%, 28%);
$color-main-border: hsl(143, 74%, 22%);
$color-main-hover: #129b3b;
$color-gray: hsl(0, 0%, 96%);
$color-gray-border: hsl(0, 0%, 90%);
$color-gray-hover: #f3f2f1;
$color-main-highlight: yellow;
$color-gridbox_title_corret: #127c3b;
$color-gridbox_title_wrong: #531f7d;
$color-ad_title: #c98414;



$ColorHighLightBackground: hsl(51, 100%, 52%);
$ColorHighLight: hsl(5, 100%, 50%);

$ColorFontGray: hsl(0, 0%, 25%);

$ColorPdEditorBackground: hsl(0, 0%, 15%);

@mixin section_default {
  max-width: $frame_width;
  @include v_center;
}

@mixin section_info {
  @include section_default;
  background-color: $color-gray;
  @include b_radi;
  padding: 2em 0;
}

@mixin box_outside {
  position: relative;
  max-width: $frame_width;
  @include v_center;
}

@mixin box_inside {
  position: relative;
  max-width: $sec_width;
  @include v_center;
}
