$FontRighteous: 'Righteous', cursive;
$FontDoHyeon: 'Do Hyeon', sans-serif;
$FontPacifico: 'Pacifico', cursive;
$FontVollkorn: 'Vollkorn', serif;
@mixin FontDoHyeon {font-family: 'Do Hyeon', sans-serif;}
@mixin FontRighteous {font-family: 'Righteous', cursive;;} 
@mixin FontPacifico {font-family: 'Pacifico', cursive;}
@mixin FontVollkorn {font-family: 'Vollkorn', serif;}

$SizeFontBigTitle: 2rem;
$SizeFontTitle: 1.6rem;
$SizeFontLittleTitle: 1.45rem;
$SizeFontSub: 1.25rem;

@mixin FontBigTitle{
    font-size: $SizeFontBigTitle;
    color: $color-main;
    @include tb;
}
@mixin FontLittleTitle{
    font-size: $SizeFontLittleTitle;
    color: $color-main;
    @include tb;
}
@mixin FontTitle{
    font-size: $SizeFontTitle;
    color: $color-main;
    @include tb;
    
}
@mixin FontSub{
    font-size: $SizeFontSub;
}

//



@mixin FontSealTitle{
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    color:lightgray;
}
@mixin FontSealSub{
    font-family: 'Vollkorn', serif;
    font-size: 0.85em;
    letter-spacing: 0.18em;
    margin-top:2px;
    color:lightgray;
}

