//BOX SIZE,
$SizeBoxDefault: 860px;
$SizeBoxInside: 810px;
$SizeBoxStroke: 840px;

//GRID
$SizeGridGap: 1.5rem;

//INFO Size
$SizeSecTextSystemInfoWidth: 75%;
$SizeSecTextSystemInfoMargin: 1rem;
$SizeOrderInfoSubRadius: 14px;
$SizeOrderInfoSubMargin: 10px;

// MOBILE
$SizeMobileBoxDefault: 94%;
$SizeMobileBoxInside: 92%;

.Mg1 {
  margin-top: 1rem;
}
.Mg2 {
  margin-top: 2rem;
}
.Mg3 {
  margin-top: 3rem;
}
.Mg4 {
  margin-top: 4rem;
}
.Mg5 {
  margin-top: 5rem;
}
.Mg6 {
  margin-top: 6rem;
}
.Mg7 {
  margin-top: 7rem;
}
.Mg8 {
  margin-top: 8rem;
}
.Mg9 {
  margin-top: 9rem;
}
.Mg10 {
  margin-top: 10rem;
}
.Mg11 {
  margin-top: 11rem;
}
.Mg12 {
  margin-top: 12rem;
}
.Mg13 {
  margin-top: 13rem;
}
.Mg14 {
  margin-top: 14rem;
}
.Mg15 {
  margin-top: 15rem;
}
