@mixin vc {
  margin: 0 auto;
}
@mixin tc {
  text-align: center;
}
@mixin tl {
  text-align: left;
}
@mixin tr {
  text-align: right;
}
@mixin tb {
  font-weight: bold;
}

@mixin b_radi {
  border-radius: 24px;
}

//Position Absolute
@mixin AbCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @include tc;
}

//텍스트 제목
@mixin SecTextTitle {
  @include tc;
  .title {
    @include FontTitle;
  }
  .sub {
    @include FontSub;
  }
  .line {
    border-top: 1px solid $color-gray-border;
    margin: 0.45em 0 0.6em 0;
  }
}

@mixin RadiusBox {
  max-width: $SizeBoxDefault;
  @include vc;
  @include b_radi;
  // padding: 2em 0;
  background-color: $color-gray;
}

//카데고리 배경
@mixin BtnCategory {
  width: 5.5em;
  font-size: 1.2em;
  padding: 0.25em 0 0.3em;
  border-radius: 3em;
  color: white;
  background-color: $color-ad_title;
  @include tc;
  @include vc;
}

@mixin BtnCategoryGreen {
  @include BtnCategory;
  font-size: 1.1em;
  background-color: $color-main;
}

@mixin BtnCategoryWorkSpace {
  @include BtnCategory;
  margin: 0;
  font-weight: bold;
  background-color: black;
}

//chap_OrderInfo
@mixin chap_OrderInfoTitle {
  padding: 23px $SizeGridGap;
  color: white;
  .title {
    width: 90%;
    @include NotoSans700;
    font-size: 2rem;
    margin-top: 0.2rem;
    padding-left: 5%;
    line-height: 1;
  }
  .title_eng {
    font-family: $FontVollkorn;
    // color: $color-main;
    // margin-top: 1rem;
    margin-top: 8px;
    padding-left: 7%;
    font-size: 1.1rem;
    line-height: 1.3;
  }

  .line {
    width: 90%;
    border-top: 1px solid hsla(0, 0%, 100%, 0.5);
    @include vc;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .text {
    width: 90%;
    line-height: 1.3;
    @include vc;
  }
}

@mixin chap_OrderInfoSub {
  border-radius: $SizeOrderInfoSubRadius;
  // border-top-right-radius: $SizeOrderInfoSubRadius;
  // border-bottom-right-radius: $SizeOrderInfoSubRadius;
  // background: hsl(50, 100%, 98%);
  background: white;
  padding: $SizeGridGap;
  margin: $SizeOrderInfoSubMargin;
  // margin-left: $SizeGridGap;
}

@mixin chap_OrderInfoBackgroundAni {
  background: linear-gradient(-45deg, $color-main, $color-gridbox_title_wrong);
  background-size: 150% 120%;
  -webkit-animation: InfoDraft 4s ease infinite;
  -moz-animation: InfoDraft 4s ease infinite;
  -o-animation: InfoDraft 4s ease infinite;
  animation: InfoDraft 4s ease infinite;

  @-webkit-keyframes InfoDraft {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @-moz-keyframes InfoDraft {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @-o-keyframes InfoDraft {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @keyframes InfoDraft {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

@mixin chap_OrderInfoBackgroundAniReverse {
  background: linear-gradient(-45deg, $color-gridbox_title_wrong, $color-main);
  background-size: 130% 110%;
  -webkit-animation: InfoDraftReverse 4s ease infinite;
  -moz-animation: InfoDraftReverse 4s ease infinite;
  -o-animation: InfoDraftReverse 4s ease infinite;
  animation: InfoDraftReverse 4s ease infinite;

  @-webkit-keyframes InfoDraftReverse {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @-moz-keyframes InfoDraftReverse {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @-o-keyframes InfoDraftReverse {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  @keyframes InfoDraftReverse {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 80% 80%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}
