@import "default_style.scss";
@import "pdcolor.scss";
@import "Pdfont.scss";
@import "PdSize.scss";
@import "PdStyle.scss";
@import "PdtextMedia.scss";

// 윈도우 사이즈 랩.
.wrap {
  max-width: $SizeWindowDefault;
  @include mgCenter;
  padding: 0.3rem 0.5rem;
}
.body {
  position: relative;
}

//내비게이션
nav {
  width: 100%;
  font-size: 0.75em;
  article[id="nav__topBar"] {
    background: $color-main;
    text-decoration: none;
    transition: all 0.1s;
    a {
      color: white;
    }
    .wrap {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      section {
        position: relative;
        height: 100%;
        @include textWhite;
        &:first-child {
          max-width: 100%;
          flex: 1 1 0;
        }
        &:last-child {
          width: auto;
          flex: 0 0 auto;
          margin-left: auto;
          a {
            display: inline-block;
            border: 1px solid white;
            text-decoration: none;
            padding: 0.5em 0.7em;
            &:last-child {
              margin-right: 0;
            }
            span {
              color: white;
            }
          }
        }
      }
    }
  }
  article[id="nav__menuBar"] {
    // position: sticky;
    border-bottom: 1px solid $colorGrayBorder;
    background: white;
    .wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      #btn__hamburger {
        display: block;
        position: relative;
        flex: 0 0 auto;
        width: 24px;
        height: auto;
        text-decoration: none;
        cursor: pointer;
        span {
          display: block;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(0, -50%);
          height: 2px;
          border-radius: 3px;
          background: $colorGrayBtn;
          color: transparent;
          transition: all 0.1s;
          &:before,
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 2px;
            background: $colorGrayBtn;
            border-radius: 3px;
            transition: all 0.3s;
          }
          &:before {
            top: -6px;
          }
          &:after {
            top: 6px;
          }
        }
      }
      #btn__hamburger.on {
        span {
          background: transparent;
          &:before {
            top: 0;
            transform: rotate(45deg);
            background: $colorMain;
          }
          &:after {
            top: 0;
            transform: rotate(-45deg);
            background: $colorMain;
          }
        }
      }
      ol[class="nav__menu"] {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex: 1;
        li {
          cursor: pointer;
          padding: 0.7em 1.5em;
          &:first-child {
            margin-left: 1em;
          }
          &:hover,
          &:active {
            color: $colorMain;
            border-radius: 2rem;
          }
        }
      }
      ol[class="nav__operator"] {
        display: flex;
        flex: 0 0 auto;
        margin-left: auto;
        border-left: 1px solid $colorGrayBorder;
        li {
          cursor: pointer;
          padding: 0.7em 1em;
          &:first-child {
            margin-left: 0.5rem;
          }
          &:last-child {
            padding-right: 0;
          }
          &:hover,
          &:active {
            color: $colorMain;
            border-radius: 2rem;
          }
        }
      }
    }
  }
  article[id="nav__extendMenu"] {
    display: none;
    padding: 1rem;
    border-bottom: 1px solid $colorMain;
    .wrap {
      display: grid;
      grid-template-columns: 6fr 1fr 1fr;
      section {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        h2 {
          grid-column: 1/6;
          color: $colorMain;
        }
        &:first-child {
          margin-left: 1rem;
          li {
            background: hotpink;
          }
        }
        &:nth-child(2) {
          grid-template-columns: 1fr;
          li {
            background: greenyellow;
          }
        }
        &:last-child {
          grid-template-columns: 1fr;
          li {
            background: cornflowerblue;
          }
        }
      }
    }
  }
  article[id="nav__extendMenu"].on {
    animation: scale-display 1.2s;
    display: block;
  }
  @keyframes scale-display {
    0% {
      opacity: 0;
      transform: scale(1);
      -webkit-transform: scale(1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
    }
  }
}

//메인, 광고란
aside[id="ad__index"] {
  background: $colorIndexAd;
  height: auto;
  padding: 3rem 0 5rem;
  @include textCenter;
  .wrap {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  article {
    @include textCenter;
    @include mgCenter;
    width: 100%;
    padding: 1rem;
    margin: 0 0.5rem;
    flex: 1;
    background-color: white;
    img {
      width: 100%;
    }
    h2 {
      margin-top: 1rem;
    }
    p {
      margin-top: 0.5rem;
    }
  }
}

footer {
  margin-top: 5rem;
  header {
    padding: 0.35em 0;
    border-top: 1px solid $colorGrayBorder;
    border-bottom: 1px solid $colorGrayBorder;
    font-size: 0.7em;
    .wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    a {
      display: block;
      flex: 0 0 auto;
      padding: 0 1rem;
      @include textCenter;
      color: hsla(0, 0, 0, 0.8);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        color: $colorMain;
      }
    }
  }
  article {
    font-size: 0.6rem;
    margin: 0.8rem 0 2rem;
    .wrap {
      display: flex;
      flex-direction: row;
      justify-items: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      section {
        flex: 1;
        h2 {
          color: $colorMain;
        }
        address {
          font-size: 0.6rem;
          margin-top: 0.4em;
          line-height: 1.3;
          font-style: nomal !important;
        }
        p {
          display: block;
          font-size: 0.65rem;
          margin-top: 0.2em;
          line-height: 1.2;
        }
        &:first-child {
          width: 100px;
          flex: 0 0 auto;
        }
        &:nth-child(2) {
          width: 43%;
          // background: forestgreen;
          div:last-child {
            margin-top: 0.5rem;
            margin-left: 3px;
            font-size: 0.4em;
          }
        }
        &:last-child {
          width: 300px;
          flex: 0 0 auto;
          margin-left: auto;
          background: $colorIndexAd;
          border: 1px solid $colorGrayBorder;
          @include textCenter;
        }
      }
    }
  }
}

//광고섹션
.sec_ad {
  .chap_PdViewTop {
    margin-top: 5rem;
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 96%, 1) 0%,
      hsla(0, 0%, 96%, 0.5) 70%,
      hsla(0, 0%, 96%, 0) 100%
    );
    // background: hsla(0, 0%, 96%, 0);
    border-top: 1px solid $color-gray-border;
    border-bottom: 1px solid $color-gray-border;
    padding: 0.5rem 0 5rem;
    .scene_AdBanner {
      .thumbnail {
        position: relative;
        height: 10rem;
        // background-color: white;
      }
      .pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        z-index: 2;
        img {
          height: 100%;
          object-fit: contain;
        }
        // background-color: red;
      }
      .bg {
        @extend .pic;
        top: 3rem;
        z-index: 1;
        height: 7rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        background: linear-gradient(
          to bottom,
          hsla(51, 100%, 52%, 1) 0%,
          hsla(51, 100%, 52%, 0.3) 100%
        );
        border-bottom: 1px solid hsla(51, 100%, 52%, 1);
      }

      .title {
        @include tc;
        @include FontLittleTitle;
        padding-top: 0.6em;
      }
      .text {
        @include tc;
        padding-top: 0.3em;
      }
    }
  }
}

//이미지가 주로 첨부된 항목(매번 새롭게 만들어주어야 되는것)
.sec_display {
  .chap_PdViewPoster {
    position: relative;
    padding-top: 18rem;
    padding-bottom: 18rem;
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 96%, 0) 0%,
      hsla(0, 0%, 96%, 0.8) 50%,
      hsla(0, 0%, 96%, 1) 80%
    );
    .box_photo {
      position: relative;
      .AbTitleTop {
        @include AbCenter;
        width: 66%;
        top: 5%;
        z-index: 5;
        @include tc;
        font-size: 5rem;
        font-weight: 700;
      }
      .AbTitleBottom {
        @include AbCenter;
        bottom: 5%;
        z-index: 5;
        @include tc;
        line-height: 1.5;
        .tag {
          font-weight: 500;
        }
      }
      .AbCardLeft {
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        @include tc;
        width: 70%;
        height: 40%;
        background: lightgreen;
        bottom: 20%;
        z-index: 3;
      }
      // .AbCardRight {
      //   position: absolute;
      //   left: 0;
      //   transform: translateX(150%);
      //   @include tc;
      //   width: 50%;
      //   height: 70%;
      //   background: lightgreen;
      //   bottom: 5%;
      //   z-index: 3;
      // }
      .scene_background {
        width: 100%;
        height: 2400px;
        background-color: lightpink;
        @include vc;
        @include b_radi;
        background-size: cover;
        background-position: top;
      }
    }
  }
  .chap_PdIntro {
    @include tc;
    .category {
      @include BtnCategory;
    }
    .title {
      @include FontBigTitle;
      margin-top: 0.4em;
    }
    .sub {
      @include FontSub;
      margin-top: 0.1em;
    }
    .support {
      width: 60%;
      border: 1px solid $color-gray-border;
      @include vc;
      margin-top: 1.1em;
      padding: 0.5em 0;
    }
  }

  .chap_SingleView {
    .box_Photo {
      max-height: 900px;
      background-color: lightgoldenrodyellow;
    }
  }
  .chap_MultiView {
    .scene_feature {
      position: relative;
      .front {
        ul {
          padding-left: 2em;
          padding-right: 2em;
        }
        .pic {
          width: 100%;
          height: 360px;
          background-color: rosybrown;
          background-size: cover;
          background-position: center;
          img {
            height: 100%;
          }
        }
        .num {
          font-size: 3.5em;
          font-family: "Righteous", cursive;
          margin-top: 0.1em;
        }
        .num_green {
          @extend .num;
          color: $color-main;
        }
        .num_violet {
          @extend .num;
          color: $color-gridbox_title_wrong;
        }
        .num_orange {
          @extend .num;
          color: $color-ad_title;
        }
        .title {
          @include FontDoHyeon;
          font-size: 3em;
          margin-top: -0.35em;
        }
        .sub {
          margin-top: 2.5em;
        }
      }
      .back {
        .DrawLine {
          position: absolute;
          width: 50.3%;
          height: 9em;
          bottom: -1.2em;
          z-index: -10;
        }
        .DrawLineLeft {
          @extend .DrawLine;
          left: 0;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 10%,
            rgba(201, 132, 20, 1) 30%,
            rgba(18, 124, 59, 1) 80%
          );
        }
        .DrawLineRight {
          @extend .DrawLine;
          right: 0;
          background: linear-gradient(
            -90deg,
            rgba(255, 255, 255, 0) 10%,
            rgba(18, 124, 59, 1) 30%,
            rgba(83, 31, 125, 1) 80%
          );
        }
        .DrawLineCenter {
          position: absolute;
          width: 100%;
          height: 8em;
          bottom: -2em;
          right: 50%;
          transform: translateX(50%);
          z-index: -10;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 5%,
            rgba(201, 132, 20, 1) 23%,
            rgba(83, 31, 125, 1) 50%,
            rgba(18, 124, 59, 1) 77%,
            rgba(255, 255, 255, 0) 95%
          );
        }
      }
    }
    .Split {
    }
  }
  .chap_PdSpec {
    .box_Stroke {
      padding: 2.5em 0;
      .scene_title {
        width: 90%;
        max-width: $SizeBoxInside;
        @include vc;
        @include SecTextTitle;
      }
      .Split {
        width: 90%;
        max-width: $SizeBoxInside;
        @include vc;
        margin-top: 2em;
        .pic {
          width: 100%;
          height: 241.33px;
          .circle {
            width: 85%;
            height: 85%;
            border-radius: 50%;
            background-color: lightpink;
            @include vc;
            background-size: cover;
            background-position: center;
          }
        }
        .category {
          @include BtnCategoryGreen;
          margin-top: -1em;
        }
        .title {
          @include FontLittleTitle;
          @include tc;
          margin-top: 0.2em;
        }
        .sub {
          margin-top: 0.4em;
        }
      }
    }
  }
  .chap_PdEditor {
    background: $ColorPdEditorBackground;
    .scene_title {
      @include SecTextTitle;
      // background: #127C3B;
      // padding-bottom:1rem;

      // .title{background: #383838; padding:1rem 0;}
      // .sub {background: #262626;}
    }
    .scene_EditDisplay {
      background-color: #262626;
      padding: 2px;
      .box_EditTap {
        width: 16rem;
        padding: 0.65rem 0 0.6rem 1rem;
        color: #e1e1e1;
        font-family: "돋움", san-serif;
        background-color: #383838;
      }
      .box_EditWorkSpace {
        margin-top: 2px;
        background-color: #383838;
        padding: 1.25rem 2.5rem 2.2rem;
        .Split {
          grid-gap: 2.2rem;
        }
        .info {
          position: relative;
          .tag {
            @include BtnCategoryWorkSpace;
          }
          .pic {
            min-width: 50%;
            max-width: 100%;
            background-color: lightpink;
            @include vc;
            margin-top: 1rem;
          }
        }
      }
    }
    .scene_EditExplain {
      background-color: #262626;
      .box_explain {
        padding: 1.8rem 2.5rem 1.9rem;
        color: white;
        .Split {
          grid-gap: 1em;
          row-gap: 0.9em;
        }
        // li{color:white; border: 1px solid red;}
        li {
          font-size: $SizeFontSub;
        }
        .num {
          @include tc;
          background-color: $color-main;
          border-radius: 2rem;
          padding: 0.18rem 0;
        }
      }
    }
  }
  .chap_PdOption {
    .scene_title {
      @include SecTextTitle;
    }
    .scene_OptionView {
      width: 95%;
      @include vc;
      .pic {
        width: 100%;
        height: 170px;
        background: yellowgreen;
      }
      .title {
        @include FontLittleTitle;
        @include tc;
        margin-top: 0.5rem;
      }
      .sub {
        @include FontSub;
        @include tc;
      }
      .money {
        font-weight: bold;
        @include tc;
        margin-top: 0.5rem;
      }
    }
  }
}

//글자가 주인 항목 (반복적으로 쓰이는 것)
.sec_text {
  .chap_InfoOrder {
    background: hsla(229, 76%, 10%, 1);
    padding: 9rem 0 11rem;
    .scene_MakeInfoDesign {
      @include RadiusBox;
      @include vc;
      @include chap_OrderInfoBackgroundAni;
      padding-bottom: 1px; // IE10 오류 수정용.
      .Split {
        grid-gap: 0;
      }
      .InfoTitle {
        @include chap_OrderInfoTitle;
        color: white;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-column-span: 1;
      }
      .InfoSub {
        @include chap_OrderInfoSub;
        padding-left: 0;
        padding-right: 0;
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        -ms-grid-column-span: 1;
        li {
          margin: 0 $SizeGridGap;
        }
        .main {
          font-size: 1.3rem;
          line-height: 1.5;
          letter-spacing: -0.7;
          font-weight: 500;
          padding: 0.7rem 0;
          border-bottom: 1px solid hsl(0, 0%, 88%);
          span {
            background: $ColorHighLightBackground;
            color: $ColorHighLight;
            padding: 1px 5px 1px;
          }
        }
        .main:first-child {
          padding-top: 0;
        }
        .sub {
          font-size: 1.1rem;
          line-height: 1.5;
          color: #99603d;
          font-weight: 400;
          margin-top: 2rem;
          span {
            text-decoration: underline;
            font-weight: 500;
            color: $ColorHighLight;
          }
        }
      }
    }
    .scene_MakeInfoNameCard {
      @include RadiusBox;
      @include vc;
      // background: hsl(50, 100%, 98%);
      @include chap_OrderInfoBackgroundAniReverse;
      padding-bottom: 1px; // IE10 오류 수정용.
      .InfoTitle {
        @include chap_OrderInfoTitle;
        padding-top: 26px;
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        -ms-grid-column-span: 1;
      }
      .InfoSub {
        @include chap_OrderInfoSub;
        -ms-grid-column: 2;
        -ms-grid-row: 1;
        -ms-grid-column-span: 1;
        ul {
          position: relative;
        }
        .num {
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 50%;
          background-color: white;
          color: $color-main;
          line-height: 2.2rem;
          font-weight: 700;
          font-size: 1.3rem;
          @include tc;
        }
        .pic {
          height: 160px;
          background: lightgreen;
          border-radius: 1rem;
        }
        .title {
          @include FontLittleTitle;
          @include tc;
          margin-top: 0.7rem;
        }
        .text {
          width: 90%;
          @include vc;
          @include tc;
          margin-top: 0.4rem;
        }
      }
    }
    .scene_MakeInfoNameCard > .Split {
      grid-gap: 0;
    }
  }
  .chap_InfoMake {
    background: linear-gradient(
      0deg,
      hsla(229, 76%, 8%, 1) 0%,
      hsla(229, 76%, 10%, 1) 10%,
      hsla(229, 76%, 10%, 1) 90%,
      hsla(229, 76%, 8%, 1) 100%
    );

    padding: 10rem 0 11rem;
    .scene_NoticeMakeSample {
      .box_Default {
        @include chap_OrderInfoBackgroundAni;
        max-width: $SizeBoxNotice;
        @include b-radi;
        padding: $SizeOrderInfoSubMargin;
        .scene_title {
          padding-top: 1.3rem;
          .title {
            @include FontTitle;
            @include tc;
            // color: yellow;
            color: hsla(0, 0%, 100%, 1);
          }
          .sub {
            @include FontSub;
            font-weight: 400;
            margin-top: 5px;
            @include tc;
            color: hsla(0, 0%, 90%, 0.8);
            line-height: 1.4;
          }
          .highlight {
            background: $ColorHighLightBackground;
            padding: 0 3px;
            border-radius: 2px;
            color: $ColorHighLight;
          }
        }
        .box_InnerSqure {
          position: relative;
          .scene_InfoSample {
            width: 94%;
            @include vc;
            margin-top: 1.5rem;
            padding: 3% 0;
            .pic {
              height: 150px;
              background: hsla(0, 0%, 100%, 0.5);
            }
            .title {
              @include FontSub;
              color: hsla(0, 0%, 100%, 1);
              margin-top: 1rem;
              @include tc;
            }
            .text {
              margin-top: 2px;
              color: hsla(0, 0%, 90%, 0.5);
              line-height: 1.3;
              @include tc;
            }
          }
          .scene_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            border-radius: $SizeOrderInfoSubRadius;
            background-color: white;
            opacity: 0.1;
          }
        }
      }
    }
    .scene_NoticeMakeCustom {
      @extend .scene_NoticeMakeSample;
    }
  }
  .chap_InfoSystem {
    background-color: $color-gray;
    padding: 3rem 0;
    .scene_clause {
      margin-top: 2rem;
      background: white;
      padding: 1.5rem 0 2.5rem 0;
      @include b-radi;
      .scene_title {
        width: $SizeSecTextSystemInfoWidth;
        @include vc;
        border-bottom: 1px solid $color-gray-border;
        padding: 1rem 0;
        @include tc;
        .title {
          @include FontTitle;
        }
        .sub {
          @include FontSub;
          font-weight: 500;
          margin-top: 5px;
        }
      }
      .scene_info {
        padding: 0;
        .Split {
          width: $SizeSecTextSystemInfoWidth;
          @include vc;
          margin-top: $SizeSecTextSystemInfoMargin;
          .title {
            padding-top: 0.7rem;
            @include FontLittleTitle;
            font-size: 1.1em;
          }
          .text {
            li {
              list-style-type: disc;
              padding-top: 5px;
              @include FontText;
              span.highlight {
                background: $ColorHighLightBackground;
                padding: 0 4px;
                text-decoration: none;
              }
              span {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .scene_clause:first-child {
      margin-top: 0;
    }
    .scene_InfoMake {
      @extend .scene_clause;
      @include chap_OrderInfoBackgroundAni;
      .scene_MadeBySample {
        background: white;
        margin: $SizeOrderInfoSubMargin;
        border-radius: $SizeOrderInfoSubRadius;
      }
    }
  }
  .chap_PdEditor {
    .scene_title {
      @include SecTextTitle;
    }
    .scene_EditDisplay {
      background-color: #262626;
      padding: 2px;
      .box_EditTap {
        width: 16rem;
        padding: 0.65rem 0 0.6rem 1rem;
        color: #e1e1e1;
        font-family: "돋움", san-serif;
        background-color: #383838;
      }
      .box_EditWorkSpace {
        margin-top: 2px;
        background-color: #383838;
        padding: 1.25rem 2.5rem 2.2rem;
        .Split {
          grid-gap: 2.2rem;
        }
        .info {
          position: relative;
          .tag {
            @include BtnCategoryWorkSpace;
          }
          .pic {
            min-width: 50%;
            max-width: 100%;
            background-color: lightpink;
            @include vc;
            margin-top: 1rem;
          }
        }
      }
    }
    .scene_EditExplain {
      background-color: #262626;
      .box_explain {
        padding: 1.8rem 2.5rem 1.9rem;
        color: white;
        .Split {
          grid-gap: 1em;
          row-gap: 0.9em;
        }
        // li{color:white; border: 1px solid red;}
        li {
          font-size: $SizeFontSub;
        }
        .num {
          @include tc;
          background-color: $color-main;
          border-radius: 2rem;
          padding: 0.18rem 0;
        }
      }
    }
  }
}

.chap_SealMark {
  @include tc;
  .title {
    @include FontSealTitle;
  }
  .sub {
    @include FontSealSub;
  }
}
