@import "default_style.scss";
@import "pdcolor.scss";
@import "Pdfont.scss";
@import "PdSize.scss";
@import "PdStyle.scss";

// ul{width: 100%;}

.frame {
  @include vc;
}
.box_Default {
  max-width: $SizeBoxDefault;
  @include vc;
}
.box_Photo {
  max-width: $SizeBoxDefault;
  @include vc;
}
.box_Inside {
  max-width: $SizeBoxInside;
  @include vc;
}
.box_SiteDefault{
  max-width: $SizeBoxSiteDefault;
  @include vc;
}
.box_Stroke {
  max-width: $SizeBoxStroke;
  @include vc;
  border-radius: $SizeOrderInfoSubRadius;
  border: 10px solid $color-main;

  // @include chap_OrderInfoBackgroundAniReverse;
  background-color: white;
}

.Split {
  display: grid;
  grid-gap: $SizeGridGap;
}
.CutHalf {
  grid-template-columns: repeat(2, 5fr);
}
.CutThird {
  grid-template-columns: repeat(3, 5fr);
}
.CutQuarter {
  grid-template-columns: repeat(4, 5fr);
}
.CutOneThree {
  grid-template-columns: 1fr 3fr;
}
.CutOneFour {
  grid-template-columns: 1fr 4fr;
}
.CutThreeTenths {
  grid-template-columns: 3fr 10fr;
}

img {
  width: 100%;
  border: 0;
  object-fit: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}
//임시
.header_top_ad_box{
  width:100%;
  height:36px;
  background-color: $color-main;
  background: linear-gradient(135deg, rgba(0,126,65,1) 20%, rgba(89,12,125,1) 80%);
  .header_top_ad{
    width:100%;
    max-width: $SizeBoxSiteDefault;
    @include vc;
    table{width:100%; height:100%;
      tbody{    display: table-row-group;
        vertical-align: middle;
        border-color: inherit
      }
      tr{
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
      td{
        text-transform: uppercase;
        // font-weight: bold;
        vertical-align: middle;
        font-size: 1rem;
        color:white;
        @include tc;
        font-family: 'Montserrat','Lato',arial,sans-serif,Malgun Gothic,"맑은 고딕",'Nanum Gothic',AppleGothic,Dotum,"돋움",sans-serif;
      }
    }
  }
}


//광고섹션
.sec_ad {
  .chap_PdViewTop {
    // margin-top: 20rem;
    // background: linear-gradient(
    //   to bottom,
    //   hsla(0, 0%, 96%, 1) 0%,
    //   hsla(0, 0%, 96%, 0.5) 70%,
    //   hsla(0, 0%, 96%, 0) 100%
    // );
    // background: hsla(0, 0%, 96%, 0);
    border-top: 1px solid $color-gray-border;
    // border-bottom: 1px solid $color-gray-border;
    padding: 2rem 0 2rem;
    // background: $color-gray;
    .scene_AdBanner {
      .thumbnail {
        position: relative;
        height: 10rem;
        // background-color: white;
      }
      .pic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        z-index: 2;
        img {
          height: 100%;
          object-fit: contain;
        }
        // background-color: red;
      }
      .bg {
        @extend .pic;
        top: 3rem;
        z-index: 1;
        height: 7rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        background: linear-gradient(
          to bottom,
          hsla(51, 100%, 52%, 1) 0%,
          hsla(51, 100%, 52%, 0.3) 100%
        );
        border-bottom: 1px solid hsla(51, 100%, 52%, 1);
      }

      .title {
        @include tc;
        @include FontLittleTitle;
        padding-top: 0.6em;
      }
      .text {
        @include tc;
        padding-top: 0.3em;
      }
    }
  }
}

//이미지가 주로 첨부된 항목(매번 새롭게 만들어주어야 되는것)
.sec_display {
  .chap_PdViewPoster {
    position: relative;
    padding-top: 18rem;
    padding-bottom: 18rem;
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 96%, 0) 0%,
      hsla(0, 0%, 96%, 0.8) 50%,
      hsla(0, 0%, 96%, 1) 80%
    );
    .box_photo {
      position: relative;
      .AbTitleTop {
        @include AbCenter;
        width: 66%;
        top: 5%;
        z-index: 5;
        @include tc;
        font-size: 5rem;
        font-weight: 700;
      }
      .AbTitleBottom {
        @include AbCenter;
        bottom: 5%;
        z-index: 5;
        @include tc;
        line-height: 1.5;
        .tag {
          font-weight: 500;
        }
      }
      .AbCardLeft {
        position: absolute;
        left: 0;
        transform: translateX(-50%);
        @include tc;
        width: 70%;
        height: 40%;
        background: lightgreen;
        bottom: 20%;
        z-index: 3;
      }
      // .AbCardRight {
      //   position: absolute;
      //   left: 0;
      //   transform: translateX(150%);
      //   @include tc;
      //   width: 50%;
      //   height: 70%;
      //   background: lightgreen;
      //   bottom: 5%;
      //   z-index: 3;
      // }
      .scene_background {
        width: 100%;
        height: 2400px;
        background-color: lightpink;
        @include vc;
        @include b_radi;
        background-size: cover;
        background-position: top;
      }
    }
  }
  .chap_PdIntro {
    @include tc;
    .category {
      @include BtnCategory;
    }
    .title {
      @include FontBigTitle;
      margin-top: 0.4em;
    }
    .sub {
      @include FontSub;
      margin-top: 0.1em;
    }
    .support {
      width: 60%;
      border: 1px solid $color-gray-border;
      @include vc;
      margin-top: 1.1em;
      padding: 0.5em 0;
    }
  }

  .chap_SingleView {
    .box_Photo {
      max-height: 900px;
      background-color: lightgoldenrodyellow;
    }
  }
  .chap_MultiView {
    .scene_feature {
      position: relative;
      .front {
        ul {
          padding-left: 2em;
          padding-right: 2em;
        }
        .pic {
          width: 100%;
          height: 360px;
          background-color: rosybrown;
          background-size: cover;
          background-position: center;
          img {
            height: 100%;
          }
        }
        .num {
          font-size: 3.5em;
          font-family: "Righteous", cursive;
          margin-top: 0.1em;
        }
        .num_green {
          @extend .num;
          color: $color-main;
        }
        .num_violet {
          @extend .num;
          color: $color-gridbox_title_wrong;
        }
        .num_orange {
          @extend .num;
          color: $color-ad_title;
        }
        .title {
          @include FontDoHyeon;
          font-size: 3em;
          margin-top: -0.35em;
        }
        .sub {
          margin-top: 2.5em;
        }
      }
      .back {
        .DrawLine {
          position: absolute;
          width: 50.3%;
          height: 9em;
          bottom: -1.2em;
          z-index: -10;
        }
        .DrawLineLeft {
          @extend .DrawLine;
          left: 0;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 10%,
            rgba(201, 132, 20, 1) 30%,
            rgba(18, 124, 59, 1) 80%
          );
        }
        .DrawLineRight {
          @extend .DrawLine;
          right: 0;
          background: linear-gradient(
            -90deg,
            rgba(255, 255, 255, 0) 10%,
            rgba(18, 124, 59, 1) 30%,
            rgba(83, 31, 125, 1) 80%
          );
        }
        .DrawLineCenter {
          position: absolute;
          width: 100%;
          height: 8em;
          bottom: -2em;
          right: 50%;
          transform: translateX(50%);
          z-index: -10;
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 5%,
            rgba(201, 132, 20, 1) 23%,
            rgba(83, 31, 125, 1) 50%,
            rgba(18, 124, 59, 1) 77%,
            rgba(255, 255, 255, 0) 95%
          );
        }
      }
    }
    .Split {
    }
  }
  .chap_PdSpec {
    .box_Stroke {
      padding: 2.5em 0;
      .scene_title {
        width: 90%;
        max-width: $SizeBoxInside;
        @include vc;
        @include SecTextTitle;
      }
      .Split {
        width: 90%;
        max-width: $SizeBoxInside;
        @include vc;
        margin-top: 2em;
        .pic {
          width: 100%;
          height: 241.33px;
          .circle {
            width: 85%;
            height: 85%;
            border-radius: 50%;
            background-color: lightpink;
            @include vc;
            background-size: cover;
            background-position: center;
          }
        }
        .category {
          @include BtnCategoryGreen;
          margin-top: -1em;
        }
        .title {
          @include FontLittleTitle;
          @include tc;
          margin-top: 0.2em;
        }
        .sub {
          margin-top: 0.4em;
        }
      }
    }
  }
  .chap_PdEditor {
    background: $ColorPdEditorBackground;
    .scene_title {
      @include SecTextTitle;
      // background: #127C3B;
      // padding-bottom:1rem;

      // .title{background: #383838; padding:1rem 0;}
      // .sub {background: #262626;}
    }
    .scene_EditDisplay {
      background-color: #262626;
      padding: 2px;
      .box_EditTap {
        width: 16rem;
        padding: 0.65rem 0 0.6rem 1rem;
        color: #e1e1e1;
        font-family: "돋움", san-serif;
        background-color: #383838;
      }
      .box_EditWorkSpace {
        margin-top: 2px;
        background-color: #383838;
        padding: 1.25rem 2.5rem 2.2rem;
        .Split {
          grid-gap: 2.2rem;
        }
        .info {
          position: relative;
          .tag {
            @include BtnCategoryWorkSpace;
          }
          .pic {
            min-width: 50%;
            max-width: 100%;
            background-color: lightpink;
            @include vc;
            margin-top: 1rem;
          }
        }
      }
    }
    .scene_EditExplain {
      background-color: #262626;
      .box_explain {
        padding: 1.8rem 2.5rem 1.9rem;
        color: white;
        .Split {
          grid-gap: 1em;
          row-gap: 0.9em;
        }
        // li{color:white; border: 1px solid red;}
        li {
          font-size: $SizeFontSub;
        }
        .num {
          @include tc;
          background-color: $color-main;
          border-radius: 2rem;
          padding: 0.18rem 0;
        }
      }
    }
  }
  .chap_PdOption {
    .scene_title {
      @include SecTextTitle;
    }
    .scene_OptionView {
      width: 95%;
      @include vc;
      .pic {
        width: 100%;
        height: 170px;
        background: yellowgreen;
      }
      .title {
        @include FontLittleTitle;
        @include tc;
        margin-top: 0.5rem;
      }
      .sub {
        @include FontSub;
        @include tc;
      }
      .money {
        font-weight: bold;
        @include tc;
        margin-top: 0.5rem;
      }
    }
  }
}

//글자가 주인 항목 (반복적으로 쓰이는 것)
.sec_text {
  .chap_InfoOrder {
    background-color: hsl(230, 75%, 10%);
    // background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(250,250,250,1) 50%, rgba(245,245,245,1) 100%);
    // background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(0,122,67,1) 100%);
    // background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
    padding: 9rem 0 11rem;
    .scene_MakeInfoDesign {
      @include RadiusBox;
      @include vc;
      @include chap_OrderInfoBackgroundAni;
      padding-bottom: 1px; // IE10 오류 수정용.
      .Split {
        grid-gap: 0;
      }
      .InfoTitle {
        @include chap_OrderInfoTitle;
        color: white;
      }
      .InfoSub {
        @include chap_OrderInfoSub;
        padding-left: 0;
        padding-right: 0;
        li {
          margin: 0 $SizeGridGap;
        }
        .main {
          font-size: 1.3rem;
          line-height: 1.5;
          letter-spacing: -0.7;
          font-weight: 500;
          padding: 0.7rem 0;
          border-bottom: 1px solid hsl(0, 0%, 88%);
          span {
            background: $ColorHighLightBackground;
            color: $ColorHighLight;
            padding: 1px 5px 1px;
          }
        }
        .main:first-child {
          padding-top: 0;
        }
        .sub {
          font-size: 1.1rem;
          line-height: 1.5;
          color: #99603d;
          font-weight: 400;
          margin-top: 2rem;
          span {
            text-decoration: underline;
            font-weight: 500;
            color: $ColorHighLight;
          }
        }
      }
    }
    .scene_MakeInfoNameCard {
      @include RadiusBox;
      @include vc;
      // background: hsl(50, 100%, 98%);
      @include chap_OrderInfoBackgroundAniReverse;
      padding-bottom: 1px; // IE10 오류 수정용.
      .InfoTitle {
        @include chap_OrderInfoTitle;
        padding-top: 26px;
      }
      .InfoSub {
        @include chap_OrderInfoSub;
        ul {
          position: relative;
        }
        .num {
          position: absolute;
          top: 0.5rem;
          left: 0.5rem;
          width: 2.2rem;
          height: 2.2rem;
          border-radius: 50%;
          background-color: white;
          color: $color-main;
          line-height: 2.2rem;
          font-weight: 700;
          font-size: 1.3rem;
          @include tc;
        }
        .pic {
          height: 160px;
          background: lightgreen;
          border-radius: 1rem;
        }
        .title {
          @include FontLittleTitle;
          @include tc;
          margin-top: 0.7rem;
        }
        .text {
          width: 90%;
          @include vc;
          @include tc;
          margin-top: 0.4rem;
        }
      }
    }
    .scene_MakeInfoNameCard > .Split {
      grid-gap: 0;
    }
  }
  .chap_InfoMake {
    background-color: hsl(230, 75%, 10%);
    padding: 10rem 0 11rem;
    .scene_NoticeMakeSample {
      .box_Default {
        @include chap_OrderInfoBackgroundAni;
        max-width: $SizeBoxNotice;
        @include b-radi;
        padding: $SizeOrderInfoSubMargin;
        .scene_title {
          padding-top: 1.3rem;
          .title {
            @include FontTitle;
            @include tc;
            // color: yellow;
            color: hsla(0, 0%, 100%, 1);
          }
          .sub {
            @include FontSub;
            font-weight: 400;
            margin-top: 5px;
            @include tc;
            color: hsla(0, 0%, 90%, 0.8);
            line-height: 1.4;
          }
          .highlight {
            background: $ColorHighLightBackground;
            padding: 0 3px;
            border-radius: 2px;
            color: $ColorHighLight;
          }
        }
        .box_InnerSqure {
          position: relative;
          .scene_InfoSample {
            width: 94%;
            @include vc;
            margin-top: 1.5rem;
            padding: 3% 0;
            .pic {
              height: 150px;
              background: hsla(0, 0%, 100%, 0.5);
            }
            .title {
              @include FontSub;
              color: hsla(0, 0%, 100%, 1);
              margin-top: 1rem;
              @include tc;
            }
            .text {
              margin-top: 2px;
              color: hsla(0, 0%, 90%, 0.5);
              line-height: 1.3;
              @include tc;
            }
          }
          .scene_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            border-radius: $SizeOrderInfoSubRadius;
            background-color: white;
            opacity: 0.1;
          }
        }
      }
    }
    .scene_NoticeMakeCustom {
      @extend .scene_NoticeMakeSample;
    }
  }
  .chap_InfoSystem {
    background-color: $color-gray;
    padding: 3rem 0;
    .scene_clause {
      margin-top: 2rem;
      background: white;
      padding: 1.5rem 0 2.5rem 0;
      @include b-radi;
      .scene_title {
        width: $SizeSecTextSystemInfoWidth;
        @include vc;
        border-bottom: 1px solid $color-gray-border;
        padding: 1rem 0;
        @include tc;
        .title {
          @include FontTitle;
        }
        .sub {
          @include FontSub;
          font-weight: 500;
          margin-top: 5px;
        }
      }
      .scene_info {
        padding: 0;
        .Split {
          width: $SizeSecTextSystemInfoWidth;
          @include vc;
          margin-top: $SizeSecTextSystemInfoMargin;
          .title {
            padding-top: 0.7rem;
            @include FontLittleTitle;
            font-size: 1.1em;
          }
          .text {
            li {
              list-style-type: disc;
              padding-top: 5px;
              @include FontText;
              span.highlight {
                background: $ColorHighLightBackground;
                padding: 0 4px;
                text-decoration: none;
              }
              span {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .scene_clause:first-child {
      margin-top: 0;
    }
    .scene_InfoMake {
      @extend .scene_clause;
      @include chap_OrderInfoBackgroundAni;
      .scene_MadeBySample {
        background: white;
        margin: $SizeOrderInfoSubMargin;
        border-radius: $SizeOrderInfoSubRadius;
      }
    }
  }
  .chap_PdEditor {
    .scene_title {
      @include SecTextTitle;
    }
    .scene_EditDisplay {
      background-color: #262626;
      padding: 2px;
      .box_EditTap {
        width: 16rem;
        padding: 0.65rem 0 0.6rem 1rem;
        color: #e1e1e1;
        font-family: "돋움", san-serif;
        background-color: #383838;
      }
      .box_EditWorkSpace {
        margin-top: 2px;
        background-color: #383838;
        padding: 1.25rem 2.5rem 2.2rem;
        .Split {
          grid-gap: 2.2rem;
        }
        .info {
          position: relative;
          .tag {
            @include BtnCategoryWorkSpace;
          }
          .pic {
            min-width: 50%;
            max-width: 100%;
            background-color: lightpink;
            @include vc;
            margin-top: 1rem;
          }
        }
      }
    }
    .scene_EditExplain {
      background-color: #262626;
      .box_explain {
        padding: 1.8rem 2.5rem 1.9rem;
        color: white;
        .Split {
          grid-gap: 1em;
          row-gap: 0.9em;
        }
        // li{color:white; border: 1px solid red;}
        li {
          font-size: $SizeFontSub;
        }
        .num {
          @include tc;
          background-color: $color-main;
          border-radius: 2rem;
          padding: 0.18rem 0;
        }
      }
    }
  }
}

.chap_SealMark {
  @include tc;
  .title {
    @include FontSealTitle;
  }
  .sub {
    @include FontSealSub;
  }
}

@media only screen and (min-width: 0px) and (max-width: 860px) {
  html {
    font-size: 11px;
  }
  .box_Default {
    width: $SizeMobileBoxDefault;
  }
  .box_Inside {
    width: $SizeMobileBoxInside;
  }
  .box_Stroke {
    width: 100%;
    border: 0;
    border-radius: 0;
    border-top: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
  }

  .Split {
    justify-content: space-evenly;
    grid-gap: 1rem;
  }
  .CutQuarter {
    grid-template-columns: repeat(2, 2fr);
  }

  .sec_ad {
    .chap_PdViewTop {
      .scene_banner {
        .pic {
          height: 110px;
        }
      }
    }
  }

  .sec_text {
    .chap_SystemInfo {
      .scene_clause {
        .scene_title {
          width: 90%;
        }
        .scene_info {
          .Split {
            width: 90%;
            .title {
              margin-top: 1.2rem;
              font-size: $SizeFontLittleTitleMobile;
            }
            .text {
              li:first-child {
                padding-top: 0;
              }
              li {
                list-style-type: none;
                padding-bottom: 5px;
                border-bottom: 1px solid hsl(0, 0%, 92%);
              }
            }
          }
          .Split:first-child {
            .title {
              margin-top: 0;
            }
          }
          .CutOneFour {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
  .sec_display {
    .chap_PdIntro {
      .support {
        width: $SizeMobileBoxDefault;
      }
    }
    .chap_PdSpec {
      .box_Stroke {
        .Split {
          width: $SizeMobileBoxInside;
          grid-gap: 1.5em;
          .pic {
            height: 137.56px;
          }
        }
      }
    }
    .chap_PdEditor {
      .scene_EditDisplay {
        .box_EditWorkSpace {
          padding: 1.25rem 1.5rem 3rem;
          .Split {
            display: block;
            .info:last-child {
              margin-top: 2rem;
            }
            .tag {
              width: 20%;
              @include vc;
            }
            .pic {
              margin-top: 1rem;
            }
          }
        }
      }
      .scene_EditExplain {
        .box_explain {
          padding: 1.25rem 1.5rem 2rem;
        }
      }
    }
    .chap_PdOption {
      .scene_OptionView {
        width: 100%;
      }
    }
  }

  .scene_title {
    .sub {
      @include tl;
      padding: 0 0.2rem;
    }
  }
  .MobileCenter {
    text-align: center !important;
  }
}
