@charset "UTF-8";
html {
  font-size: 12px;
  font-family: "Montserrat", "Lato", arial, "Noto Sans KR", sans-serif;
  letter-spacing: -0.3;
  line-height: 1; }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; }

ul,
ol {
  position: relative;
  list-style: none;
  word-break: break-word;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
  border: 0 none; }

.Mg1 {
  margin-top: 1rem; }

.Mg2 {
  margin-top: 2rem; }

.Mg3 {
  margin-top: 3rem; }

.Mg4 {
  margin-top: 4rem; }

.Mg5 {
  margin-top: 5rem; }

.Mg6 {
  margin-top: 6rem; }

.Mg7 {
  margin-top: 7rem; }

.Mg8 {
  margin-top: 8rem; }

.Mg9 {
  margin-top: 9rem; }

.Mg10 {
  margin-top: 10rem; }

.Mg11 {
  margin-top: 11rem; }

.Mg12 {
  margin-top: 12rem; }

.Mg13 {
  margin-top: 13rem; }

.Mg14 {
  margin-top: 14rem; }

.Mg15 {
  margin-top: 15rem; }

.frame {
  margin: 0 auto; }

.box_Default {
  max-width: 860px;
  margin: 0 auto; }

.box_Photo {
  max-width: 860px;
  margin: 0 auto; }

.box_Inside {
  max-width: 810px;
  margin: 0 auto; }

.box_Stroke {
  max-width: 840px;
  margin: 0 auto;
  border-radius: 14px;
  border: 10px solid #127d3b;
  background-color: white; }

.Split {
  display: grid;
  grid-gap: 1.5rem; }

.CutHalf {
  grid-template-columns: repeat(2, 5fr); }

.CutThird {
  grid-template-columns: repeat(3, 5fr); }

.CutQuarter {
  grid-template-columns: repeat(4, 5fr); }

.CutOneThree {
  grid-template-columns: 1fr 3fr; }

.CutOneFour {
  grid-template-columns: 1fr 4fr; }

.CutThreeTenths {
  grid-template-columns: 3fr 10fr; }

img {
  width: 100%;
  border: 0;
  object-fit: cover;
  background-size: cover;
  margin: 0;
  padding: 0; }

.sec_ad .chap_PdViewTop {
  margin-top: 5rem;
  background: linear-gradient(to bottom, whitesmoke 0%, rgba(245, 245, 245, 0.5) 70%, rgba(245, 245, 245, 0) 100%);
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0.5rem 0 5rem; }
  .sec_ad .chap_PdViewTop .scene_AdBanner .thumbnail {
    position: relative;
    height: 10rem; }
  .sec_ad .chap_PdViewTop .scene_AdBanner .pic, .sec_ad .chap_PdViewTop .scene_AdBanner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 2; }
    .sec_ad .chap_PdViewTop .scene_AdBanner .pic img, .sec_ad .chap_PdViewTop .scene_AdBanner .bg img {
      height: 100%;
      object-fit: contain; }
  .sec_ad .chap_PdViewTop .scene_AdBanner .bg {
    top: 3rem;
    z-index: 1;
    height: 7rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background: linear-gradient(to bottom, #ffda0a 0%, rgba(255, 218, 10, 0.3) 100%);
    border-bottom: 1px solid #ffda0a; }
  .sec_ad .chap_PdViewTop .scene_AdBanner .title {
    text-align: center;
    font-size: 1.45rem;
    color: #127d3b;
    font-weight: bold;
    padding-top: 0.6em; }
  .sec_ad .chap_PdViewTop .scene_AdBanner .text {
    text-align: center;
    padding-top: 0.3em; }

.sec_display .chap_PdViewPoster {
  position: relative;
  padding-top: 18rem;
  padding-bottom: 18rem;
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 0.8) 50%, whitesmoke 80%); }
  .sec_display .chap_PdViewPoster .box_photo {
    position: relative; }
    .sec_display .chap_PdViewPoster .box_photo .AbTitleTop {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 66%;
      top: 5%;
      z-index: 5;
      text-align: center;
      font-size: 5rem;
      font-weight: 700; }
    .sec_display .chap_PdViewPoster .box_photo .AbTitleBottom {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      bottom: 5%;
      z-index: 5;
      text-align: center;
      line-height: 1.5; }
      .sec_display .chap_PdViewPoster .box_photo .AbTitleBottom .tag {
        font-weight: 500; }
    .sec_display .chap_PdViewPoster .box_photo .AbCardLeft {
      position: absolute;
      left: 0;
      transform: translateX(-50%);
      text-align: center;
      width: 70%;
      height: 40%;
      background: lightgreen;
      bottom: 20%;
      z-index: 3; }
    .sec_display .chap_PdViewPoster .box_photo .scene_background {
      width: 100%;
      height: 2400px;
      background-color: lightpink;
      margin: 0 auto;
      border-radius: 24px;
      background-size: cover;
      background-position: top; }
.sec_display .chap_PdIntro {
  text-align: center; }
  .sec_display .chap_PdIntro .category {
    width: 5.5em;
    font-size: 1.2em;
    padding: 0.25em 0 0.3em;
    border-radius: 3em;
    color: white;
    background-color: #c98414;
    text-align: center;
    margin: 0 auto; }
  .sec_display .chap_PdIntro .title {
    font-size: 2rem;
    color: #127d3b;
    font-weight: bold;
    margin-top: 0.4em; }
  .sec_display .chap_PdIntro .sub {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-top: 0.1em; }
  .sec_display .chap_PdIntro .support {
    width: 60%;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    margin-top: 1.1em;
    padding: 0.5em 0; }
.sec_display .chap_SingleView .box_Photo {
  max-height: 900px;
  background-color: lightgoldenrodyellow; }
.sec_display .chap_MultiView .scene_feature {
  position: relative; }
  .sec_display .chap_MultiView .scene_feature .front ul {
    padding-left: 2em;
    padding-right: 2em; }
  .sec_display .chap_MultiView .scene_feature .front .pic, .sec_display .chap_MultiView .scene_feature .front .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_MultiView .scene_feature .front .bg {
    width: 100%;
    height: 360px;
    background-color: rosybrown;
    background-size: cover;
    background-position: center; }
    .sec_display .chap_MultiView .scene_feature .front .pic img, .sec_display .chap_MultiView .scene_feature .front .sec_ad .chap_PdViewTop .scene_AdBanner .bg img, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_MultiView .scene_feature .front .bg img {
      height: 100%; }
  .sec_display .chap_MultiView .scene_feature .front .num, .sec_display .chap_MultiView .scene_feature .front .num_green, .sec_display .chap_MultiView .scene_feature .front .num_violet, .sec_display .chap_MultiView .scene_feature .front .num_orange {
    font-size: 3.5em;
    font-family: "Righteous", cursive;
    margin-top: 0.1em; }
  .sec_display .chap_MultiView .scene_feature .front .num_green {
    color: #127d3b; }
  .sec_display .chap_MultiView .scene_feature .front .num_violet {
    color: #531f7d; }
  .sec_display .chap_MultiView .scene_feature .front .num_orange {
    color: #c98414; }
  .sec_display .chap_MultiView .scene_feature .front .title {
    font-family: "Do Hyeon", sans-serif;
    font-size: 3em;
    margin-top: -0.35em; }
  .sec_display .chap_MultiView .scene_feature .front .sub {
    margin-top: 2.5em; }
  .sec_display .chap_MultiView .scene_feature .back .DrawLine, .sec_display .chap_MultiView .scene_feature .back .DrawLineLeft, .sec_display .chap_MultiView .scene_feature .back .DrawLineRight {
    position: absolute;
    width: 50.3%;
    height: 9em;
    bottom: -1.2em;
    z-index: -10; }
  .sec_display .chap_MultiView .scene_feature .back .DrawLineLeft {
    left: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, #c98414 30%, #127c3b 80%); }
  .sec_display .chap_MultiView .scene_feature .back .DrawLineRight {
    right: 0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 10%, #127c3b 30%, #531f7d 80%); }
  .sec_display .chap_MultiView .scene_feature .back .DrawLineCenter {
    position: absolute;
    width: 100%;
    height: 8em;
    bottom: -2em;
    right: 50%;
    transform: translateX(50%);
    z-index: -10;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 5%, #c98414 23%, #531f7d 50%, #127c3b 77%, rgba(255, 255, 255, 0) 95%); }
.sec_display .chap_PdSpec .box_Stroke {
  padding: 2.5em 0; }
  .sec_display .chap_PdSpec .box_Stroke .scene_title {
    width: 90%;
    max-width: 810px;
    margin: 0 auto;
    text-align: center; }
    .sec_display .chap_PdSpec .box_Stroke .scene_title .title {
      font-size: 1.6rem;
      color: #127d3b;
      font-weight: bold; }
    .sec_display .chap_PdSpec .box_Stroke .scene_title .sub {
      font-size: 1.2rem;
      line-height: 1.3; }
    .sec_display .chap_PdSpec .box_Stroke .scene_title .line {
      border-top: 1px solid #e6e6e6;
      margin: 0.45em 0 0.6em 0; }
  .sec_display .chap_PdSpec .box_Stroke .Split {
    width: 90%;
    max-width: 810px;
    margin: 0 auto;
    margin-top: 2em; }
    .sec_display .chap_PdSpec .box_Stroke .Split .pic, .sec_display .chap_PdSpec .box_Stroke .Split .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_PdSpec .box_Stroke .Split .bg {
      width: 100%;
      height: 241.33px; }
      .sec_display .chap_PdSpec .box_Stroke .Split .pic .circle, .sec_display .chap_PdSpec .box_Stroke .Split .sec_ad .chap_PdViewTop .scene_AdBanner .bg .circle, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_PdSpec .box_Stroke .Split .bg .circle {
        width: 85%;
        height: 85%;
        border-radius: 50%;
        background-color: lightpink;
        margin: 0 auto;
        background-size: cover;
        background-position: center; }
    .sec_display .chap_PdSpec .box_Stroke .Split .category {
      width: 5.5em;
      font-size: 1.2em;
      padding: 0.25em 0 0.3em;
      border-radius: 3em;
      color: white;
      background-color: #c98414;
      text-align: center;
      margin: 0 auto;
      font-size: 1.1em;
      background-color: #127d3b;
      margin-top: -1em; }
    .sec_display .chap_PdSpec .box_Stroke .Split .title {
      font-size: 1.45rem;
      color: #127d3b;
      font-weight: bold;
      text-align: center;
      margin-top: 0.2em; }
    .sec_display .chap_PdSpec .box_Stroke .Split .sub {
      margin-top: 0.4em; }
.sec_display .chap_PdEditor {
  background: #262626; }
  .sec_display .chap_PdEditor .scene_title {
    text-align: center; }
    .sec_display .chap_PdEditor .scene_title .title {
      font-size: 1.6rem;
      color: #127d3b;
      font-weight: bold; }
    .sec_display .chap_PdEditor .scene_title .sub {
      font-size: 1.2rem;
      line-height: 1.3; }
    .sec_display .chap_PdEditor .scene_title .line {
      border-top: 1px solid #e6e6e6;
      margin: 0.45em 0 0.6em 0; }
  .sec_display .chap_PdEditor .scene_EditDisplay {
    background-color: #262626;
    padding: 2px; }
    .sec_display .chap_PdEditor .scene_EditDisplay .box_EditTap {
      width: 16rem;
      padding: 0.65rem 0 0.6rem 1rem;
      color: #e1e1e1;
      font-family: "돋움", san-serif;
      background-color: #383838; }
    .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace {
      margin-top: 2px;
      background-color: #383838;
      padding: 1.25rem 2.5rem 2.2rem; }
      .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split {
        grid-gap: 2.2rem; }
      .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info {
        position: relative; }
        .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .tag {
          width: 5.5em;
          font-size: 1.2em;
          padding: 0.25em 0 0.3em;
          border-radius: 3em;
          color: white;
          background-color: #c98414;
          text-align: center;
          margin: 0 auto;
          margin: 0;
          font-weight: bold;
          background-color: black; }
        .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .pic, .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .bg {
          min-width: 50%;
          max-width: 100%;
          background-color: lightpink;
          margin: 0 auto;
          margin-top: 1rem; }
  .sec_display .chap_PdEditor .scene_EditExplain {
    background-color: #262626; }
    .sec_display .chap_PdEditor .scene_EditExplain .box_explain {
      padding: 1.8rem 2.5rem 1.9rem;
      color: white; }
      .sec_display .chap_PdEditor .scene_EditExplain .box_explain .Split {
        grid-gap: 1em;
        row-gap: 0.9em; }
      .sec_display .chap_PdEditor .scene_EditExplain .box_explain li {
        font-size: 1.2rem; }
      .sec_display .chap_PdEditor .scene_EditExplain .box_explain .num, .sec_display .chap_PdEditor .scene_EditExplain .box_explain .chap_MultiView .scene_feature .front .num_green, .sec_display .chap_MultiView .scene_feature .front .chap_PdEditor .scene_EditExplain .box_explain .num_green, .sec_display .chap_PdEditor .scene_EditExplain .box_explain .chap_MultiView .scene_feature .front .num_violet, .sec_display .chap_MultiView .scene_feature .front .chap_PdEditor .scene_EditExplain .box_explain .num_violet, .sec_display .chap_PdEditor .scene_EditExplain .box_explain .chap_MultiView .scene_feature .front .num_orange, .sec_display .chap_MultiView .scene_feature .front .chap_PdEditor .scene_EditExplain .box_explain .num_orange {
        text-align: center;
        background-color: #127d3b;
        border-radius: 2rem;
        padding: 0.18rem 0; }
.sec_display .chap_PdOption .scene_title {
  text-align: center; }
  .sec_display .chap_PdOption .scene_title .title {
    font-size: 1.6rem;
    color: #127d3b;
    font-weight: bold; }
  .sec_display .chap_PdOption .scene_title .sub {
    font-size: 1.2rem;
    line-height: 1.3; }
  .sec_display .chap_PdOption .scene_title .line {
    border-top: 1px solid #e6e6e6;
    margin: 0.45em 0 0.6em 0; }
.sec_display .chap_PdOption .scene_OptionView {
  width: 95%;
  margin: 0 auto; }
  .sec_display .chap_PdOption .scene_OptionView .pic, .sec_display .chap_PdOption .scene_OptionView .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_PdOption .scene_OptionView .bg {
    width: 100%;
    height: 170px;
    background: yellowgreen; }
  .sec_display .chap_PdOption .scene_OptionView .title {
    font-size: 1.45rem;
    color: #127d3b;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem; }
  .sec_display .chap_PdOption .scene_OptionView .sub {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: center; }
  .sec_display .chap_PdOption .scene_OptionView .money {
    font-weight: bold;
    text-align: center;
    margin-top: 0.5rem; }

.sec_text .chap_InfoOrder {
  background: #060d2d;
  padding: 9rem 0 11rem; }
  .sec_text .chap_InfoOrder .scene_MakeInfoDesign {
    max-width: 860px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: whitesmoke;
    margin: 0 auto;
    background: linear-gradient(-45deg, #127d3b, #531f7d);
    background-size: 150% 120%;
    -webkit-animation: InfoDraft 4s ease infinite;
    -moz-animation: InfoDraft 4s ease infinite;
    -o-animation: InfoDraft 4s ease infinite;
    animation: InfoDraft 4s ease infinite;
    padding-bottom: 1px; }
@-webkit-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-moz-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-o-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
    .sec_text .chap_InfoOrder .scene_MakeInfoDesign .Split {
      grid-gap: 0; }
    .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoTitle {
      padding: 23px 1.5rem;
      color: white;
      color: white; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoTitle .title {
        width: 90%;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        margin-top: 0.2rem;
        padding-left: 5%;
        line-height: 1; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoTitle .title_eng {
        font-family: "Vollkorn", serif;
        margin-top: 8px;
        padding-left: 7%;
        font-size: 1.1rem;
        line-height: 1.3; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoTitle .line {
        width: 90%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoTitle .text {
        width: 90%;
        line-height: 1.3;
        margin: 0 auto; }
    .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoSub {
      border-radius: 14px;
      background: white;
      padding: 1.5rem;
      margin: 10px;
      padding-left: 0;
      padding-right: 0; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoSub li {
        margin: 0 1.5rem; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoSub .main {
        font-size: 1.3rem;
        line-height: 1.5;
        letter-spacing: -0.7;
        font-weight: 500;
        padding: 0.7rem 0;
        border-bottom: 1px solid #e0e0e0; }
        .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoSub .main span {
          background: #ffda0a;
          color: #ff1500;
          padding: 1px 5px 1px; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoSub .main:first-child {
        padding-top: 0; }
      .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoSub .sub {
        font-size: 1.1rem;
        line-height: 1.5;
        color: #99603d;
        font-weight: 400;
        margin-top: 2rem; }
        .sec_text .chap_InfoOrder .scene_MakeInfoDesign .InfoSub .sub span {
          text-decoration: underline;
          font-weight: 500;
          color: #ff1500; }
  .sec_text .chap_InfoOrder .scene_MakeInfoNameCard {
    max-width: 860px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: whitesmoke;
    margin: 0 auto;
    background: linear-gradient(-45deg, #531f7d, #127d3b);
    background-size: 130% 110%;
    -webkit-animation: InfoDraftReverse 4s ease infinite;
    -moz-animation: InfoDraftReverse 4s ease infinite;
    -o-animation: InfoDraftReverse 4s ease infinite;
    animation: InfoDraftReverse 4s ease infinite;
    padding-bottom: 1px; }
@-webkit-keyframes InfoDraftReverse {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-moz-keyframes InfoDraftReverse {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-o-keyframes InfoDraftReverse {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@keyframes InfoDraftReverse {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
    .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoTitle {
      padding: 23px 1.5rem;
      color: white;
      padding-top: 26px; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoTitle .title {
        width: 90%;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        margin-top: 0.2rem;
        padding-left: 5%;
        line-height: 1; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoTitle .title_eng {
        font-family: "Vollkorn", serif;
        margin-top: 8px;
        padding-left: 7%;
        font-size: 1.1rem;
        line-height: 1.3; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoTitle .line {
        width: 90%;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        margin: 0 auto;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoTitle .text {
        width: 90%;
        line-height: 1.3;
        margin: 0 auto; }
    .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub {
      border-radius: 14px;
      background: white;
      padding: 1.5rem;
      margin: 10px; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub ul {
        position: relative; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .num, .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .sec_display .chap_MultiView .scene_feature .front .num_green, .sec_display .chap_MultiView .scene_feature .front .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .num_green, .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .sec_display .chap_MultiView .scene_feature .front .num_violet, .sec_display .chap_MultiView .scene_feature .front .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .num_violet, .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .sec_display .chap_MultiView .scene_feature .front .num_orange, .sec_display .chap_MultiView .scene_feature .front .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .num_orange {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        background-color: white;
        color: #127d3b;
        line-height: 2.2rem;
        font-weight: 700;
        font-size: 1.3rem;
        text-align: center; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .pic, .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .bg {
        height: 160px;
        background: lightgreen;
        border-radius: 1rem; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .title {
        font-size: 1.45rem;
        color: #127d3b;
        font-weight: bold;
        text-align: center;
        margin-top: 0.7rem; }
      .sec_text .chap_InfoOrder .scene_MakeInfoNameCard .InfoSub .text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        margin-top: 0.4rem; }
  .sec_text .chap_InfoOrder .scene_MakeInfoNameCard > .Split {
    grid-gap: 0; }
.sec_text .chap_InfoMake {
  background: linear-gradient(0deg, #050b24 0%, #060d2d 10%, #060d2d 90%, #050b24 100%);
  padding: 10rem 0 11rem; }
  .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default {
    background: linear-gradient(-45deg, #127d3b, #531f7d);
    background-size: 150% 120%;
    -webkit-animation: InfoDraft 4s ease infinite;
    -moz-animation: InfoDraft 4s ease infinite;
    -o-animation: InfoDraft 4s ease infinite;
    animation: InfoDraft 4s ease infinite;
    max-width: 520px;
    border-radius: 24px;
    padding: 10px; }
@-webkit-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-moz-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-o-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
    .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .scene_title, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .scene_title {
      padding-top: 1.3rem; }
      .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .scene_title .title, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .scene_title .title {
        font-size: 1.6rem;
        color: #127d3b;
        font-weight: bold;
        text-align: center;
        color: white; }
      .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .scene_title .sub, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .scene_title .sub {
        font-size: 1.2rem;
        line-height: 1.3;
        font-weight: 400;
        margin-top: 5px;
        text-align: center;
        color: rgba(230, 230, 230, 0.8);
        line-height: 1.4; }
      .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .scene_title .highlight, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .scene_title .highlight {
        background: #ffda0a;
        padding: 0 3px;
        border-radius: 2px;
        color: #ff1500; }
    .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure {
      position: relative; }
      .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure .scene_InfoSample, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure .scene_InfoSample {
        width: 94%;
        margin: 0 auto;
        margin-top: 1.5rem;
        padding: 3% 0; }
        .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure .scene_InfoSample .pic, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure .scene_InfoSample .pic, .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure .scene_InfoSample .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure .scene_InfoSample .bg, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure .scene_InfoSample .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure .scene_InfoSample .bg {
          height: 150px;
          background: rgba(255, 255, 255, 0.5); }
        .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure .scene_InfoSample .title, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure .scene_InfoSample .title {
          font-size: 1.2rem;
          line-height: 1.3;
          color: white;
          margin-top: 1rem;
          text-align: center; }
        .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure .scene_InfoSample .text, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure .scene_InfoSample .text {
          margin-top: 2px;
          color: rgba(230, 230, 230, 0.5);
          line-height: 1.3;
          text-align: center; }
      .sec_text .chap_InfoMake .scene_NoticeMakeSample .box_Default .box_InnerSqure .scene_bg, .sec_text .chap_InfoMake .scene_NoticeMakeCustom .box_Default .box_InnerSqure .scene_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        border-radius: 14px;
        background-color: white;
        opacity: 0.1; }
.sec_text .chap_InfoSystem {
  background-color: whitesmoke;
  padding: 3rem 0; }
  .sec_text .chap_InfoSystem .scene_clause, .sec_text .chap_InfoSystem .scene_InfoMake {
    margin-top: 2rem;
    background: white;
    padding: 1.5rem 0 2.5rem 0;
    border-radius: 24px; }
    .sec_text .chap_InfoSystem .scene_clause .scene_title, .sec_text .chap_InfoSystem .scene_InfoMake .scene_title {
      width: 75%;
      margin: 0 auto;
      border-bottom: 1px solid #e6e6e6;
      padding: 1rem 0;
      text-align: center; }
      .sec_text .chap_InfoSystem .scene_clause .scene_title .title, .sec_text .chap_InfoSystem .scene_InfoMake .scene_title .title {
        font-size: 1.6rem;
        color: #127d3b;
        font-weight: bold; }
      .sec_text .chap_InfoSystem .scene_clause .scene_title .sub, .sec_text .chap_InfoSystem .scene_InfoMake .scene_title .sub {
        font-size: 1.2rem;
        line-height: 1.3;
        font-weight: 500;
        margin-top: 5px; }
    .sec_text .chap_InfoSystem .scene_clause .scene_info, .sec_text .chap_InfoSystem .scene_InfoMake .scene_info {
      padding: 0; }
      .sec_text .chap_InfoSystem .scene_clause .scene_info .Split, .sec_text .chap_InfoSystem .scene_InfoMake .scene_info .Split {
        width: 75%;
        margin: 0 auto;
        margin-top: 1rem; }
        .sec_text .chap_InfoSystem .scene_clause .scene_info .Split .title, .sec_text .chap_InfoSystem .scene_InfoMake .scene_info .Split .title {
          padding-top: 0.7rem;
          font-size: 1.45rem;
          color: #127d3b;
          font-weight: bold;
          font-size: 1.1em; }
        .sec_text .chap_InfoSystem .scene_clause .scene_info .Split .text li, .sec_text .chap_InfoSystem .scene_InfoMake .scene_info .Split .text li {
          list-style-type: disc;
          padding-top: 5px;
          font-size: 1.1em;
          line-height: 1.3;
          color: #404040; }
          .sec_text .chap_InfoSystem .scene_clause .scene_info .Split .text li span.highlight, .sec_text .chap_InfoSystem .scene_InfoMake .scene_info .Split .text li span.highlight {
            background: #ffda0a;
            padding: 0 4px;
            text-decoration: none; }
          .sec_text .chap_InfoSystem .scene_clause .scene_info .Split .text li span, .sec_text .chap_InfoSystem .scene_InfoMake .scene_info .Split .text li span {
            text-decoration: underline; }
  .sec_text .chap_InfoSystem .scene_clause:first-child, .sec_text .chap_InfoSystem .scene_InfoMake:first-child {
    margin-top: 0; }
  .sec_text .chap_InfoSystem .scene_InfoMake {
    background: linear-gradient(-45deg, #127d3b, #531f7d);
    background-size: 150% 120%;
    -webkit-animation: InfoDraft 4s ease infinite;
    -moz-animation: InfoDraft 4s ease infinite;
    -o-animation: InfoDraft 4s ease infinite;
    animation: InfoDraft 4s ease infinite; }
@-webkit-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-moz-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@-o-keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
@keyframes InfoDraft {
  0% {
    background-position: 0% 0%; }
  50% {
    background-position: 80% 80%; }
  100% {
    background-position: 0% 0%; } }
    .sec_text .chap_InfoSystem .scene_InfoMake .scene_MadeBySample {
      background: white;
      margin: 10px;
      border-radius: 14px; }
.sec_text .chap_PdEditor .scene_title {
  text-align: center; }
  .sec_text .chap_PdEditor .scene_title .title {
    font-size: 1.6rem;
    color: #127d3b;
    font-weight: bold; }
  .sec_text .chap_PdEditor .scene_title .sub {
    font-size: 1.2rem;
    line-height: 1.3; }
  .sec_text .chap_PdEditor .scene_title .line {
    border-top: 1px solid #e6e6e6;
    margin: 0.45em 0 0.6em 0; }
.sec_text .chap_PdEditor .scene_EditDisplay {
  background-color: #262626;
  padding: 2px; }
  .sec_text .chap_PdEditor .scene_EditDisplay .box_EditTap {
    width: 16rem;
    padding: 0.65rem 0 0.6rem 1rem;
    color: #e1e1e1;
    font-family: "돋움", san-serif;
    background-color: #383838; }
  .sec_text .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace {
    margin-top: 2px;
    background-color: #383838;
    padding: 1.25rem 2.5rem 2.2rem; }
    .sec_text .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split {
      grid-gap: 2.2rem; }
    .sec_text .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info {
      position: relative; }
      .sec_text .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .tag {
        width: 5.5em;
        font-size: 1.2em;
        padding: 0.25em 0 0.3em;
        border-radius: 3em;
        color: white;
        background-color: #c98414;
        text-align: center;
        margin: 0 auto;
        margin: 0;
        font-weight: bold;
        background-color: black; }
      .sec_text .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .pic, .sec_text .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_text .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .info .bg {
        min-width: 50%;
        max-width: 100%;
        background-color: lightpink;
        margin: 0 auto;
        margin-top: 1rem; }
.sec_text .chap_PdEditor .scene_EditExplain {
  background-color: #262626; }
  .sec_text .chap_PdEditor .scene_EditExplain .box_explain {
    padding: 1.8rem 2.5rem 1.9rem;
    color: white; }
    .sec_text .chap_PdEditor .scene_EditExplain .box_explain .Split {
      grid-gap: 1em;
      row-gap: 0.9em; }
    .sec_text .chap_PdEditor .scene_EditExplain .box_explain li {
      font-size: 1.2rem; }
    .sec_text .chap_PdEditor .scene_EditExplain .box_explain .num, .sec_text .chap_PdEditor .scene_EditExplain .box_explain .sec_display .chap_MultiView .scene_feature .front .num_green, .sec_display .chap_MultiView .scene_feature .front .sec_text .chap_PdEditor .scene_EditExplain .box_explain .num_green, .sec_text .chap_PdEditor .scene_EditExplain .box_explain .sec_display .chap_MultiView .scene_feature .front .num_violet, .sec_display .chap_MultiView .scene_feature .front .sec_text .chap_PdEditor .scene_EditExplain .box_explain .num_violet, .sec_text .chap_PdEditor .scene_EditExplain .box_explain .sec_display .chap_MultiView .scene_feature .front .num_orange, .sec_display .chap_MultiView .scene_feature .front .sec_text .chap_PdEditor .scene_EditExplain .box_explain .num_orange {
      text-align: center;
      background-color: #127d3b;
      border-radius: 2rem;
      padding: 0.18rem 0; }

.chap_SealMark {
  text-align: center; }
  .chap_SealMark .title {
    font-family: "Pacifico", cursive;
    font-size: 1.5rem;
    color: #e6e6e6; }
  .chap_SealMark .sub {
    font-family: "Vollkorn", serif;
    font-size: 0.85rem;
    letter-spacing: 0.18em;
    margin-top: 0.7rem;
    color: #e6e6e6; }

@media only screen and (min-width: 0px) and (max-width: 860px) {
  html {
    font-size: 11px; }

  .box_Default {
    width: 94%; }

  .box_Inside {
    width: 92%; }

  .box_Stroke {
    width: 100%;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #127d3b;
    border-bottom: 2px solid #127d3b; }

  .Split {
    justify-content: space-evenly;
    grid-gap: 1rem; }

  .CutQuarter {
    grid-template-columns: repeat(2, 2fr); }

  .sec_ad .chap_PdViewTop .scene_banner .pic, .sec_ad .chap_PdViewTop .scene_banner .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .scene_banner .bg {
    height: 110px; }

  .sec_text .chap_SystemInfo .scene_clause .scene_title, .sec_text .chap_SystemInfo .chap_InfoSystem .scene_InfoMake .scene_title, .sec_text .chap_InfoSystem .chap_SystemInfo .scene_InfoMake .scene_title {
    width: 90%; }
  .sec_text .chap_SystemInfo .scene_clause .scene_info .Split, .sec_text .chap_SystemInfo .chap_InfoSystem .scene_InfoMake .scene_info .Split, .sec_text .chap_InfoSystem .chap_SystemInfo .scene_InfoMake .scene_info .Split {
    width: 90%; }
    .sec_text .chap_SystemInfo .scene_clause .scene_info .Split .title, .sec_text .chap_SystemInfo .chap_InfoSystem .scene_InfoMake .scene_info .Split .title, .sec_text .chap_InfoSystem .chap_SystemInfo .scene_InfoMake .scene_info .Split .title {
      margin-top: 1.2rem;
      font-size: 1.25rem; }
    .sec_text .chap_SystemInfo .scene_clause .scene_info .Split .text li:first-child, .sec_text .chap_SystemInfo .chap_InfoSystem .scene_InfoMake .scene_info .Split .text li:first-child, .sec_text .chap_InfoSystem .chap_SystemInfo .scene_InfoMake .scene_info .Split .text li:first-child {
      padding-top: 0; }
    .sec_text .chap_SystemInfo .scene_clause .scene_info .Split .text li, .sec_text .chap_SystemInfo .chap_InfoSystem .scene_InfoMake .scene_info .Split .text li, .sec_text .chap_InfoSystem .chap_SystemInfo .scene_InfoMake .scene_info .Split .text li {
      list-style-type: none;
      padding-bottom: 5px;
      border-bottom: 1px solid #ebebeb; }
  .sec_text .chap_SystemInfo .scene_clause .scene_info .Split:first-child .title, .sec_text .chap_SystemInfo .chap_InfoSystem .scene_InfoMake .scene_info .Split:first-child .title, .sec_text .chap_InfoSystem .chap_SystemInfo .scene_InfoMake .scene_info .Split:first-child .title {
    margin-top: 0; }
  .sec_text .chap_SystemInfo .scene_clause .scene_info .CutOneFour, .sec_text .chap_SystemInfo .chap_InfoSystem .scene_InfoMake .scene_info .CutOneFour, .sec_text .chap_InfoSystem .chap_SystemInfo .scene_InfoMake .scene_info .CutOneFour {
    grid-template-columns: repeat(1, 1fr); }

  .sec_display .chap_PdIntro .support {
    width: 94%; }
  .sec_display .chap_PdSpec .box_Stroke .Split {
    width: 92%;
    grid-gap: 1.5em; }
    .sec_display .chap_PdSpec .box_Stroke .Split .pic, .sec_display .chap_PdSpec .box_Stroke .Split .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_PdSpec .box_Stroke .Split .bg {
      height: 137.56px; }
  .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace {
    padding: 1.25rem 1.5rem 3rem; }
    .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split {
      display: block; }
      .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split .info:last-child {
        margin-top: 2rem; }
      .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split .tag {
        width: 20%;
        margin: 0 auto; }
      .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split .pic, .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split .sec_ad .chap_PdViewTop .scene_AdBanner .bg, .sec_ad .chap_PdViewTop .scene_AdBanner .sec_display .chap_PdEditor .scene_EditDisplay .box_EditWorkSpace .Split .bg {
        margin-top: 1rem; }
  .sec_display .chap_PdEditor .scene_EditExplain .box_explain {
    padding: 1.25rem 1.5rem 2rem; }
  .sec_display .chap_PdOption .scene_OptionView {
    width: 100%; }

  .scene_title .sub {
    text-align: left;
    padding: 0 0.2rem; }

  .MobileCenter {
    text-align: center !important; } }

/*# sourceMappingURL=pdtext.css.map */
