$type_default:1em;
$type_normal:1.2em;
$type_big:1.4em;
$type_bigger:2em;

$size_xsmall:0.2em;
$size_small:0.56em;
$size_default:1em;
$size_normal:1.4em;
$size_large:1.6em;
$size_xlarge:2em;
$size_xxlarge:2.6em;

// 추가분
$typo_title: 2em;
$typo_sub: 1.4em;
$typo_basic: 1.2em;

$spline_typo-basic: 1.5em;
$spline_typo-list: 0.3em;

$spline_chapter: 0.5em;

$spline_title-line_padding_bottom:1.3em;
$spline_title-line_margin_bottom:1.7em;
