//전체 컨테이너 넓이
$frame_width: 860px;
$frame_pic_whdth: 860px;
$frame_pic_whdth_border: 856px;

// 전체 컨테이너 마진, 패딩 값
$frame_space: 2.3em;
$frame_space_bottom: 2.7em;
$frame_space_narrow:1em;
$frame_space_narrow_bottom:1.5em;
$frame_space_pic:0;
$frame_space_pic_bottom:0.3em;

//section 최대 넓이
$sec_width: 760px;


// 텍스트 사이즈
$typo_default: 1.2em;
$typo_title: 1.3em;
$typo_sub: 1.09em;
$typo_basic: 1em;
$typo_seal_sub: 0.85em;

// 챕터내 기본 글씨 행간
$line-height_sentence_basic:1.38em; 
$line-height_sentence_sub:1.52em; 

// 글씨사이 간격
$LetterSpacingDefault:-0.05em;
$LetterSpacingTitle:-0.05em;
$LetterSpacingSub:-0.03em;
$LetterSpacingTitleSeal: 0em;
$LetterSpacingSubSeal: 0.17em;

//라디오버튼형 타이틀
$RadioPaddingTop:0.25em;
$RadioPaddingBottom:0.35em;


//박스간 간격
$margin_box-box:1.5em;
$margin_box-add:1em;
$margin_chapter-chapter:0.5em;
$margin_boxSub-box:0.5em;
$margin_frame:2.3em;



// 문장>텍스트>li간 간격
$spline_text-list: 0.5em; 
$spline_title_sub-line:1.3em;
$spline_title_line-box:1.7em;

$spline_division_pic-title:0.55em;
$spline_division_title-sub:0.2em;
$spline_stroke_title:0.4em; // 테두리 쳐진 박스의 제목 상하 간격


//그리드 
$grid_colum_nomal:1.5em;
$grid_colum_textbox:1em;
$grid_colum_box_top:1.2em;
$grid_colum_box_bottom:0.8em;
$grid_colum_box_side:1.4em;
$grid_border_radius_top: $typo_basic $typo_basic 0 0;
$grid_border_radius_bottom: 0 0 $typo_basic $typo_basic;

$highlight_padding_top:0.8em;
$highlight_padding_side:2em;
$highlight_padding_bottom:1em;
$hightlight_line-height_typo:1.55em;


//IE10+
$ie10_imagebox:85%;
$ie10_imagebox_ul:30%;
$ie10_imagebox_text:0.2em;
$ie10_spline_stroke_title:0.7em;

$ie10_width_frame:94%;
$ie10_width_box:90%;